<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>How affiliation marketing works | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Here's how our affiliate system works. Check out&#33;" />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Select the language</a>
								<ul id="langMenu">
									<li><a href="../poder-da-afiliacao.html">Portuguese</a></li>
									<li><a href="affiliation-power.html">English</a></li>
									<li><a href="../es/poder-de-la-afiliacion.html">Spanish</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Log in</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Username" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Password" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Type</option>
												<option value="aff">Affiliate</option>
												<option value="mer">Advertiser</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Remember password</label>
											<div>
												<input type="submit" value="Sign in" class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>Forgot password&#63;</a>
										<a href="affiliate-sign-up.html">Sign up</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="home.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="home.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="affiliates.html">Affiliates</a></li>
							<li><a href="advertisers-agencies.html">Advertisers & Agencies</a></li>
							<li><a href="affiliation-power.html" class='marcador'>The affiliation power</a></li>
							<li>
								<a href='#' data-select='about-menu'>About Afilio</a>
								<ul>
									<li><a href="about-afilio.html#nossahistoria">Our history</a></li>
									<li><a href="about-afilio.html#lideres">Our leaders</a></li>
									<li><a href="about-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="about-afilio.html#instituto">Afilio Institute</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<!--<li><a href="news.html">News</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slider" class="slider-parallax full-screen dark error404-wrap poderSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">Affiliation surpasses other marketing channels.</p>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Affiliate marketing.</h1>
											<span>A strategy where everyone wins.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="../images/poder-afiliacao-afilio.jpg" preload="auto" loop autoplay muted>
						<source src='../images/videos/poder-afiliacao.mp4' type='video/mp4' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

		<!-- seção "o poder da afilização" -->
		<section class='content mainSection poderAfiliacaoIntro'>
			<div class="sectionImg">
				<img src="../images/estrategia-afiliacao.jpg" alt="Affiliation power">
			</div>
			<div class="contentWrapper">
				<h2>The affiliation power</h2>
				<h3>Unique results-driven digital strategy.</h3>
				<p>Affiliation or affiliate marketing, or performance marketing, is an effective way of measuring return on investment.</p>
				<div class="linkWrapper">
					<a href="want-announce.html">Advertise with Afilio</a>
					<a href="affiliate-sign-up.html">Become an Affiliate</a>
				</div>
			</div>
		</section>
		<!-- fim seção "o poder da afilização" -->

		<!-- seção "papel na afiliação" -->
		<section class='content mainSection secaoPapel'>
			<div class="contentWrapper">
				<h2>What is your role in Affiliation&#63;</h2>
				<p>Affiliate affiliation or marketing is also known as Performance Marketing because it is the only digital strategy that is totally results oriented. Performance Marketing is an effective way of measuring return on investment.</p>
				<div class='papel'>
					<img src="../images/anunciante-poder.png" alt="Anunciante/Ag&ecirc;ncia - O poder da afilia&ccedil;&atilde;o">
					<div class="heading-block topmargin-sm">
						<h5>Advertiser or agencie</h5>
						<p>Through Afilio, advertisers or agencies leverage their products and services, whether in sales, leads or brand exposure. And commission the affiliates who performed.</p>
					</div>
				</div>
				<div class='papel'>
					<img src="../images/afiliado-poder.png" alt="Afiliados - O poder da afilia&ccedil;&atilde;o">
					<div class="heading-block topmargin-sm">
						<h5>Affiliate</h5>
						<p>We can call the affiliate a digital entrepreneur. It is any individual or legal entity that through various models of dissemination or innovative technology promotes product / service / brand made available by the advertiser of Afilio. Whenever the consumer makes a purchase, as soon as validated by the advertiser, the affiliate receives commission.</p>
					</div>
				</div>
				<div class='papel'>
					<img src="../images/afiliado-anunciante-poder.png" alt="Afilio - O poder da afilia&ccedil;&atilde;o">
					<div class="heading-block topmargin-sm">
						<h5>Afilio</h5>
						<p>With a unique and exclusive platform, brings together the best affiliates and delivery to your customers (advertisers and agencies), sales, leads and brand / product / service exposure. It leverages customer growth and measures investment effectively.</p>
					</div>
				</div>
			</div>
  	</section>
		<!-- fim seção "papel na afiliação" -->

		<section class='content mainSection anunciantesAfiliados'>
			<div class="contentWrapper">
				<h3>What is your role in the scenario&#63;</h3>
				<div class="roleBox">
					<div>
						<h2>Advertiser</h2>
						<h3>Increase your brand exposure&#33;</h3>
						<p>Generate more sales and leads. Reward affiliates for successfully promoting your products / services. Become an advertiser of Afilio network&#33;</p>
						<p>
							<a href="want-announce.html">I want to advertise</a>
							<a href="advertisers-agencies.html">Know more</a>
						</p>
					</div>
					<!-- Anunciantes End-->

					<!-- Anunciantes -->
					<div>
						<h2>Affiliates</h2>
						<h3>Be a member of the Afilio network&#33;</h3>
						<p>Be a partner of the best brands in Brazil and Latin America. Earn commissions in partnership with leading brands in Brazil and Latin America, successfully promoting products and services.</p>
						<p>
							<a href="affiliate-sign-up.html">Become an Affiliate</a>
							<a href="affiliates.html">Know more</a>
						</p>
					</div>
					<!-- Anunciantes End-->
				</div>
			</div>
		</section>

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Helios Seelinger St. - 155, 4º floor - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Uba&iacute;ra St. - 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="home.html">Home</a>
							<a href="affiliates.html">Affiliates</a>
							<a href="advertisers-agencies.html">Advertisers & Agencies</a>
							<a href="affiliation-power.html">The affiliation power</a>
							<a href="about-afilio.html">About Afilio</a>
							<a href="careers.html">Careers</a>
							<a href="contact.html">Contact</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
