<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Work in Afilio | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Join our team." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Select the language</a>
								<ul id="langMenu">
									<li><a href="../carreiras.html">Portuguese</a></li>
									<li><a href="careers.html">English</a></li>
									<li><a href="../es/carreras.html">Spanish</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Log in</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Username" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Password" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Type</option>
												<option value="aff">Affiliate</option>
												<option value="mer">Advertiser</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Remember password</label>
											<div>
												<input type="submit" value="Sign in" class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>Forgot password&#63;</a>
										<a href="affiliate-sign-up.html">Sign up</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="home.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="home.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="affiliates.html">Affiliates</a></li>
							<li><a href="advertisers-agencies.html">Advertisers & Agencies</a></li>
							<li><a href="affiliation-power.html">The affiliation power</a></li>
							<li>
								<a href='#' data-select='about-menu'>About Afilio</a>
								<ul>
									<li><a href="about-afilio.html#nossahistoria">Our history</a></li>
									<li><a href="about-afilio.html#lideres">Our leaders</a></li>
									<li><a href="about-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="about-afilio.html#instituto">Afilio Institute</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<!--<li><a href="news.html">News</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slide-show" class="slider-parallax revslider-wrap full-screen clearfix">
			<div class="slidex activx">
				<div class="bg bg1">
					<div class="slider-center">
						<span>IT Manager</span>
						<h5>Jeferson Silva</h5>
						<p>"Afilio is a great company&#33; A place that has an incredible work environment, open to technological innovation and with the collaboration of all. It's been a great experience to grow and collaborate with Afilio's growth."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg2">
					<div class="slider-center">
						<span>UX Manager</span>
						<h5>Diogo Felix</h5>
						<p>“Our work environment is excellent&#33; I am happy to produce and deliver results. The cool thing is the investment of Afilio in its collaborators, if someone is looking for professional growth, the company is available. Today I feel grateful for all the opportunities acquired and I am sure that here is my place."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg3">
					<div class="slider-center">
						<span>HR Manager</span>
						<h5>Ana Bodely</h5>
						<p>“Afilio is a great school&#33; Working with new challenges every day, people who believe in your potential and do with what you can always achieve success is a wonderful opportunity. Knowing that each day we are stimulated to personal and professional growth through meritocracy is indescribable."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg4">
					<div class="slider-center">
						<span>Account supervisor</span>
						<h5>Julia Couto</h5>
						<p>“Coming to work here is rewarding, it's my second home. Here co-workers are like a family."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg5">
					<div class="slider-center">
						<span>CFO</span>
						<h5>Luciana Landim</h5>
						<p>“Being part of the Afilio team brings me happiness. Here we are valued as people and professionals. It is a challenging and relaxed environment, which provides us with growth and quality of life."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg6">
					<div class="slider-center">
						<span>Comercial manager</span>
						<h5>Rafael Stefano</h5>
						<p>“How not to love&hellip; In Af&iacute;lio I have plenty of space to create and develop new projects, as well as all the tools available to maximize my leadership skills, all in line with a horizontal management structure and a fully multidisciplinary team. The ideal combination for success&#33;“</p>
					</div>
				</div>
			</div>
		</section>

		<div class="clear"></div>

		<!-- Section Carreiras -->
		<section class='content mainSection carreirasPage bePart'>
			<div class="sectionImg">
				<img src="../images/carreira-1.jpg" alt="Be part of the Afilio team">
			</div>
			<div class="contentWrapper">
				<h1>Be part of the Afilio team</h1>
				<h3>Believing is essential, but having attitude is what makes the difference.</h3>
				<p>Passion for our work. We work as a team and look for innovative solutions and strategies. We are experts in the market and we think in a creative and transparent way. For us the pursuit of excellence is a habit&#33;</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage learnAndGrow'>
			<div class="sectionImg">
				<img src="../images/carreira-2.jpg" alt="Willingness to learn and grow">
			</div>
			<div class="contentWrapper">
				<h2>Willingness to learn and grow</h2>
				<h3>We have the inexhaustible desire to know more.</h3>
				<p>We update and always look for new information of the market in which we are inserted. We are present in major events, courses, meetings and specializations.</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage teamWork'>
			<div class="sectionImg">
				<img src="../images/carreira-3.jpg" alt="Teamwork">
			</div>
			<div class="contentWrapper">
				<h2>Teamwork</h2>
				<h3>Our team has as principle the collaboration between departments.</h3>
				<p>With a unified vision for the benefit of all, we grow together. Together we are stronger&#33;</p>
			</div>
		</section>
		<!-- Section Carreiras End-->

		<section class="content ctaCarreiras">
			<div class="contentWrapper">
				<h2>Be part of our team&#33;</h2>
				<p>Submit your resume to: <a href="mailto:rh@afil.io">rh@afil.io</a></p>
				<a href="https://www.linkedin.com/company/afilio" target="_blank" class="button button-circle btn-block center tam-btn">Learn more about our vacancies</a>
			</div>
		</section>

		<section class='content mainSection carreirasPage afilioSectors'>
			<div class="contentWrapper">
				<h2>Afilio Team</h2>
				<h3>We are. We can. We did it.</h3>
				<p>All branches with the same focus.</p>
				<ul class='afilioTeam'>
					<li>
						<h5>IT Team</h5>
						<img src="../images/ti.jpg" alt="Equipe TI Afilio" />
						<p>The Afilio IT team is responsible for Afilio's technological products, as well as the improvement of the company's processes.</p>
					</li>
					<li>
						<h5>Business and marketing team</h5>
						<img src="../images/marketing-comercial.jpg" alt="Equipe Comercial e Marketing Afilio" />
						<p>The commercial team is the first contact with the Afilio universe and the marketing department is responsible for communication.</p>
					</li>
					<li>
						<h5>Operational Team - RJ</h5>
						<img src="../images/opec-rj.jpg" alt="Equipe Operacional RJ Afilio" />
						<p>The operations team in Rio de Janeiro is responsible for tracking and delivering the results of the advertisers' campaigns.</p>
					</li>
					<li>
						<h5>Operational Team - SP</h5>
						<img src="../images/opec-sp.jpg" alt="Equipe Operacional SP Afilio" />
						<p>The operational team in S&atilde;o Paulo is hybrid. We analyze KPis from our affiliates and optimize results.</p>
					</li>
					<li>
						<h5>Network Team</h5>
						<img src="../images/redes.jpg" alt="Equipe de Redes Afilio" />
						<p>The network team is responsible for the relationship with affiliates of different strands.</p>
					</li>
					<li>
						<h5>HR and Financial Team</h5>
						<img src="../images/rh-financeiro.jpg" alt="Equipe do RH e Financeiro Afilio" />
						<p>The finance department is responsible for the management of resources and HR makes the culture of the company always taken care of.</p>
					</li>
				</ul>
			</div>
		</section>

        <footer id="footer" class="footer dark">
	        <div class="offices">
		        <div class="office">
			        <img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
			        <div class='address'>
				        <p>Rio de Janeiro</p>
				        <a href="tel:+55-21-2244-8888">&#43;55 21 2244 8888</a>
				        <a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Helios Seelinger St. - 155, 4º floor - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
			        </div>
		        </div>
		        <div class="office">
			        <img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
			        <div class='address'>
				        <p>S&atilde;o Paulo</p>
				        <a href="tel:+55-11-3294-7958">&#43;55 11 3294 7958</a>
				        <a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Uba&iacute;ra St. - 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
			        </div>
		        </div>
	        </div>
	        <div id="copyrights">
		        <div class="container clearfix">
			        <div class="col-md-9">
				        <div class="copyrights-menu copyright-links clearfix">
					        <a href="home.html">Home</a>
					        <a href="affiliates.html">Affiliates</a>
					        <a href="advertisers-agencies.html">Advertisers & Agencies</a>
					        <a href="affiliation-power.html">The affiliation power</a>
					        <a href="about-afilio.html">About Afilio</a>
					        <a href="careers.html">Careers</a>
					        <a href="contact.html">Contact</a>
					        <a href="faq.html">FAQ</a>
				        </div>
			        </div>
			        <div class="col-md-3">
				        <div class="fright clearfix">
					        <a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
						        <i class="fab fa-facebook-f"></i>
					        </a>
					        <a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
						        <i class="fab fa-instagram"></i>
					        </a>
					        <a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
						        <i class="fab fa-linkedin-in"></i>
					        </a>
				        </div>
				        <div class="clear"></div>
			        </div>
			        <div class="center">Copyright &copy; 2019 Afilio S/A.</div>
		        </div>
		        <!-- #copyrights end -->
	        </div>
        </footer>
        <!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
