<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Success stories | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Afilio success stories." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Select the language</a>
								<ul id="langMenu">
									<li><a href="../cases.html">Portuguese</a></li>
									<li><a href="cases.html">English</a></li>
									<li><a href="../es/casos.html">Spanish</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Log in</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Username" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Password" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Type</option>
												<option value="aff">Affiliate</option>
												<option value="mer">Advertiser</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Remember password</label>
											<div>
												<input type="submit" value="Sign in" class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>Forgot password&#63;</a>
										<a href="affiliate-sign-up.html">Sign up</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="home.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="home.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="affiliates.html">Affiliates</a></li>
							<li><a href="advertisers-agencies.html">Advertisers & Agencies</a></li>
							<li><a href="affiliation-power.html">The affiliation power</a></li>
							<li>
								<a href='#' data-select='about-menu'>About Afilio</a>
								<ul>
									<li><a href="about-afilio.html#nossahistoria">Our history</a></li>
									<li><a href="about-afilio.html#lideres">Our leaders</a></li>
									<li><a href="about-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="about-afilio.html#instituto">Afilio Institute</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<!--<li><a href="news.html">News</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- Cases -->
		<section class="content mainSection casesContent">
			<div class="contentWrapper">
				<h1>Cases</h1>
				<h3>Afilio success stories&#33;</h3>
				<p>Some jobs we are proud to have done.</p>

				<!--Nova Section cases-->
				<div class="casesWrapper">
					<!--LATAM-->
					<div class='caseBox'>
						<div class='caseImg'>
							<img src="../images/case-latam.png" alt="Logo Latam" />
						</div>
						<div class='caseText'>
							<p>Disclosure through the macro influencers Clara Maia, Lorelay Fox and Julia Rodrigues, to propagate the action of Happy Hour.</p>
						</div>
					</div>

					<!--VIA VAREJO-->
					<div class='caseBox'>
						<div class='caseImg'>
							<img src="../images/case-via-varejo.png" alt="Logo Via Varejo" />
						</div>
						<div class='caseText'>
							<p>Action to publicize the World Cup with Denilson, the former soccer player, midfield in the Brazilian National Team.</p>
						</div>
					</div>

					<!--MEU PAG-->
					<div class='caseBox'>
						<div class='caseImg'>
							<img src="../images/case-pag.png" alt="Logo Meu Pag" />
						</div>
						<div class='caseText'>
							<p>Action with the macro influencers Rafael Uccman, Rica de Marre, Shantal and Matheus Verdelho for installation of the app.</p>
						</div>
					</div>

					<!--SUBMARINO VIAGENS-->
					<div class='caseBox'>
						<div class='caseImg'>
							<img src="../images/case-submarino-viagens.png" alt="Logo Submarino Viagens" />
						</div>
						<div class='caseText'>
							<p>We work in partnership with Smarters using the BOT Su that is among the finalists of the Bots Brasil Awards.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Cases End -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">&#43;55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Helios Seelinger St. - 155, 4º floor - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">&#43;55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Uba&iacute;ra St. - 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="home.html">Home</a>
							<a href="affiliates.html">Affiliates</a>
							<a href="advertisers-agencies.html">Advertisers & Agencies</a>
							<a href="affiliation-power.html">The affiliation power</a>
							<a href="about-afilio.html">About Afilio</a>
							<a href="careers.html">Careers</a>
							<a href="contact.html">Contact</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
