<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Frequently Asked Questions | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Frequently asked questions - Afilio." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Select the language</a>
								<ul id="langMenu">
									<li><a href="../faq.html">Portuguese</a></li>
									<li><a href="faq.html">English</a></li>
									<li><a href="../es/faq.html">Spanish</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Log in</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Username" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Password" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Type</option>
												<option value="aff">Affiliate</option>
												<option value="mer">Advertiser</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Remember password</label>
											<div>
												<input type="submit" value="Sign in" class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>Forgot password&#63;</a>
										<a href="affiliate-sign-up.html">Sign up</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="home.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="home.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="affiliates.html">Affiliates</a></li>
							<li><a href="advertisers-agencies.html">Advertisers & Agencies</a></li>
							<li><a href="affiliation-power.html">The affiliation power</a></li>
							<li>
								<a href='#' data-select='about-menu'>About Afilio</a>
								<ul>
									<li><a href="about-afilio.html#nossahistoria">Our history</a></li>
									<li><a href="about-afilio.html#lideres">Our leaders</a></li>
									<li><a href="about-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="about-afilio.html#instituto">Afilio Institute</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<!--<li><a href="news.html">News</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- FAQ -->
		<section class='content mainSection faqPage'>
			<div class="contentWrapper">
				<h1>FAQ</h1>
				<h3>Perguntas Frequentes</h3>
				<p>Encontre a resposta para algumas d&uacute;vidas.</p>
				<main>
					<input id="tab1" type="radio" name="tabs" checked>
					<label class='faqLabel' for="tab1">Registration</label>

					<input id="tab2" type="radio" name="tabs">
					<label class='faqLabel' for="tab2">Operational</label>

					<input id="tab3" type="radio" name="tabs">
					<label class='faqLabel' for="tab3">Payments</label>

					<section id="content1">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								How do I change the registration data&#63;
							</div>
							<div class="togglec" style="display: none;">
								You can change your account’s general information in the “My Profile” section and update such data as: payment account change, e-mail contact, postal address, phone number, etc. Follow these steps:
								<ul class='faqList'>
									<li>Log in to our website;</li>
									<li>in the "My Account” section, click on "My Profile".</li>
								</ul>
								For editing other information, please contact us.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								I have a site that the main language is not Portuguese, can I register&#63;
							</div>
							<div class="togglec" style="display: none;">
								Yes, as long as the site is within Afilio's approval standards.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								I already use other affiliate networks. Can I still enroll in Afilio&#63;
							</div>
							<div class="togglec" style="display: none;">
								Yes, we do not require exclusivity, you can participate in other programs and Afilio.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								How do I know if the site has been approved or not&#63;
							</div>
							<div class="togglec" style="display: none;">
								You will receive an email (the same as you reported in your site registration) within 72 hours.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								What are the criteria adopted for approval of a website&#63;
							</div>
							<div class="togglec" style="display: none;">
								It is necessary that the site contemplate some questions:
								<ul class='faqList'>
									<li>Content in accordance with the law (without inciting hatred, drugs, violence, racism, pedophilia&hellip;);</li>
									<li>have a true content that is updated constantly;</li>
									<li>have an attractive layout (do not make background color combinations and text that make the site unreadable or difficult to understand);</li>
									<li>the site must be fully completed / published;</li>
									<li>it can not be a mirror site that redirects to another site.</li>
								</ul>
							</div>
						</div>
					</section>

					<section id="content2">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								How do I choose the best campaigns for my channel&#63;
							</div>
							<div class="togglec" style="display: none;">
								After approved registration, from your segment identify the campaigns that correspond to your target audience.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Can I choose the campaigns I want to participate in&#63;
							</div>
							<div class="togglec" style="display: none;">
								Yes. Once your registration is approved, go to the menu for all campaigns and request participation in the campaigns you want. There is no registration limit.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Can I quit any campaign at any time&#63;
							</div>
							<div class="togglec" style="display: none;">
								Yes, you have full power of choice for the time period you want to serve for a particular campaign.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Who can become an affiliate&#63;
							</div>
							<div class="togglec" style="display: none;">
								Any natural or legal person. Just have a site within our rules of approval and fill out the registration through the session: <a href="affiliate-sign-up.html">affiliate sign up</a>.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								I want to advertise, how do I do&#63;
							</div>
							<div class="togglec" style="display: none;">
								Contact us at <a href="tel:+55-11-3294-7958">+55 11 3294 7958</a> o <a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>, a salesperson will be assigned to fulfill your request, evaluate the profile of your business, and once the agreement is signed you can publish your campaigns.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								How do I become a publisher&#63;
							</div>
							<div class="togglec" style="display: none;">
								Visit our <a href="affiliate.html">afiliate</a> section and fill out the form with your personal data and the URL of your page. It is important to enter all your contacts such as phone, email and Skype. These will be the means for Afilio to communicate with you and we can complete your registration.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								How to generate the deeplinks&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Through the extension;</li>
									<li>entering the platform in the session "deeplink";</li>
									<li>by the API "deeplink".</li>
								</ul>
								You can request the deeplinks manual for our team.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Why was the campaign paused&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Advertiser budget;</li>
									<li>seasonality of campaign, eg college enrollment;</li>
									<li>inadequacy of the channel for the advertiser proposal.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								What are public campaigns&#63;
							</div>
							<div class="togglec" style="display: none;">
								Campaigns are open to all approved affiliates who wish to participate.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								What are private campaigns&#63;
							</div>
							<div class="togglec" style="display: none;">
								Campaigns where the affiliate does not have a view on the platform to be able to select, but the affiliate can offer the campaign in the private.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								What are restricted campaigns&#63;
							</div>
							<div class="togglec" style="display: none;">
								Campaigns closed for some specific placement formats.
							</div>
						</div>
					</section>

					<section id="content3">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								I bought with the Afilio's link and the sale did not capture. What happened&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>It may have left the site and entered by another media;</li>
									<li>may have purchased out of cookie period;</li>
									<li>you may have generated the deeplink in the wrong way.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								My sale was not computed on the platform, what could have happened&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Link problem with wrong track;</li>
									<li>cookie at some point.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Do I have to pay anything to join&#63;
							</div>
							<div class="togglec" style="display: none;">
								No, just sign up, wait for approval, and start monetizing your inventory with the campaigns available on the platform.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								What are the types of remuneration that Afilio works&#63;
							</div>
							<div class="togglec" style="display: none;">
								Access the section <a href="advertisers-agencies.html#modelos_comerciais">business models</a> and see all our models, in case of doubts you can send an email to <a href='mailto:contato@afil.io' target='_blank'>contato@afil.io</a>.
							</div>
						</div>
					</section>
				</main>
			</div>
		</section>
		<!-- fim FAQ -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Helios Seelinger St. - 155, 4º floor - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Uba&iacute;ra St. - 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="home.html">Home</a>
							<a href="affiliates.html">Affiliates</a>
							<a href="advertisers-agencies.html">Advertisers & Agencies</a>
							<a href="affiliation-power.html">The affiliation power</a>
							<a href="about-afilio.html">About Afilio</a>
							<a href="careers.html">Careers</a>
							<a href="contact.html">Contact</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
