<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>C&oacute;mo anunciar y divulgar | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Aumente sus beneficios y la visibilidad de su marca con nuestro sistema de afiliaci&oacute;n. &iexcl;Anuncie ya&#33;" />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />
    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />
    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../anunciantes-agencias.html">Portugu&eacute;s</a></li>
									<li><a href="../en/advertisers-agencies.html">Ingl&eacute;s</a></li>
									<li><a href="anunciantes-agencias.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html" class='marcador'>Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slider" class="slider-parallax full-screen dark error404-wrap anunciantesSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">&iexcl;Trabajamos para su &eacute;xito&#33;</p>
											<span>Ampl&iacute;e sus beneficios y aumente el alcance de sus campa&ntilde;as.</span>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Mejore el retorno de sus inversiones.</h1>
											<span>Anuncie y pague s&oacute;lo por la performance.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="../images/anunciantes-afilio.jpg" preload="auto" loop autoplay muted>
						<source src='../images/videos/Working-Space.mp4' type='video/mp4' />
						<source src='../images/videos/working-Space.webm' type='video/webm' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

    <!-- Section vantagens de anunciar -->
		<section class="content mainSection vantagens">
			<div class="sectionImg">
				<img src="../images/anunciantes-home.jpg" alt='Anuncie com a Afilio' />
			</div>
			<div class="contentWrapper">
				<h2>Ventajas</h2>
				<h3>Numerosas ventajas en anunciar con Afilio.</h3>
				<p>Aprende de todo lo que tienes derecho.</p>
				<ul class='listaVantagens'>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>M&aacute;s de 50.000 afiliados seleccionados manualmente en cada campa&ntilde;a;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>audiencia segmentada y cualificada, nacional e internacional;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>modelo de campa&ntilde;a por rendimiento;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>atenci&oacute;n exclusiva: gerente dedicado a la campa&ntilde;a;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>experiencia en el comportamiento del consumidor y en el mercado digital;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>referencia en atenci&oacute;n en redes de desempe&ntilde;o;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>control de fraudes;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>plataforma propia con monitoreo en tiempo real;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>varios canales para la optimizaci&oacute;n de campa&ntilde;as.</li>
				</ul>
				<a href="quiero-anunciar.html">Quiero anunciar</a>
			</div>
		</section>
		<!-- fim seção vantagens de anunciar -->


  	<!--Section Nossos Sistemas -->
		<section class="content mainSection secaoModelos" id='modelos_comerciais'>
			<div class="contentWrapper">
				<h2>Modelos de negocio</h2>
				<h3>&iexcl;Nuestros modelos se centran en el retorno de la inversi&oacute;n&#33;</h3>
				<p>Afilio trabaja con diversos modelos comerciales, vea la lista de todos ellos:</p>

				<ul class="modelosComerciais">
					<li>
						<h5>CPA</h5>
						<p>Comisi&oacute;n basada en la compra de un producto, ideal para performance.</p>
					</li>
					<li>
						<h5>CPL</h5>
						<p>Comisi&oacute;n por llenado de formularios de registro. Para aumento de la base activa y recoger informaciones.</p>
					</li>
					<li>
						<h5>CPI</h5>
						<p>Basado en la instalaci&oacute;n de un app o software y toolbars.</p>
					</li>
					<li>
						<h5>CPC</h5>
						<p>Tr&aacute;fico cualificado y segmentado, ideal para campa&ntilde;as de branding.</p>
					</li>
					<li>
						<h5>CPM</h5>
						<p>Costo por 1000 impresiones. Indicado para la generaci&oacute;n de tr&aacute;fico y branding.</p>
					</li>
					<li>
						<h5>CPD</h5>
						<p>Basado en la contrataci&oacute;n de disparo de e-mail marketing a bases cualificadas.</p>
					</li>
					<li>
						<h5>CPV</h5>
						<p>Costo por view o visita. Ideal para branding.</p>
					</li>
				</ul>
				<a href="quiero-anunciar.html">Quiero anunciar</a>
			</div>
		</section>
    <!-- fim Section Nossos Sistemas End-->

		<!-- Section formatos publicidade -->
		<section class='content mainSection formatosPublicidade'>
			<div class="contentWrapper">
				<h2>Formatos de publicidad</h2>
				<h3>&iexcl;Diversos formatos para alcanzar su objetivo&#33;</h3>
				<p>Nuestros afiliados trabajan con todos los formatos de divulgaci&oacute;n.</p>
				<div class="listaFormatos">
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-link"></i>
						</div>
						<p>Links de texto</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-mail-bulk"></i>
						</div>
						<p>E-mail marketing</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-money-bill"></i>
						</div>
						<p>Cupones de descuento</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect" >
						<div class="fbox-icon">
							<i class="fas fa-file-alt"></i>
						</div>
						<p>Feeds XML</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-user-cog"></i>
						</div>
						<p>Retargeting</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-cash-register"></i>
						</div>
						<p>Cashback</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-download"></i>
						</div>
						<p>Plugins</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-users"></i>
						</div>
						<p>Influenciadores</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-digital-tachograph"></i>
						</div>
						<p>Anuncios nativos</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-image"></i>
						</div>
						<p>Banner</p>
					</div>
				</div>
				<a href="quiero-anunciar.html">Quiero anunciar</a>
			</div>
		</section>
		<!-- Section formatos publicidade End -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">&#43;55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">&#43;55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
