<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Trabaja con nosotros | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Venga a formar parte de Afilio." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../carreiras.html">Portugu&eacute;s</a></li>
									<li><a href="../en/careers.html">Ingl&eacute;s</a></li>
									<li><a href="carreras.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slide-show" class="slider-parallax revslider-wrap full-screen clearfix">
			<div class="slidex activx">
				<div class="bg bg1">
					<div class="slider-center">
						<span>Gerente de TI</span>
						<h5>Jeferson Silva</h5>
						<p>"&iexcl;Afilio es una empresa sensacional&#33; Un lugar que tiene un ambiente de trabajo incre&iacute;ble, abierta a la innovaci&oacute;n tecnol&oacute;gica y con la colaboraci&oacute;n de todos. Est&aacute; siendo una gran experiencia crecer y colaborar con el crecimiento de Afilio."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg2">
					<div class="slider-center">
						<span>Gerente de UX</span>
						<h5>Diogo Felix</h5>
						<p>“&iexcl;Nuestro ambiente de trabajo es excelente&#33; Tengo placer en producir y entregar resultados. El m&aacute;s legal es la inversi&oacute;n de Afilio en sus colaboradores, si alguien busca ascenso profesional, la empresa est&aacute; a disposici&oacute;n. Hoy me siento agradecido por todas las oportunidades adquiridas y estoy seguro de que aqu&iacute; es mi lugar.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg3">
					<div class="slider-center">
						<span>Gerente de RRHH</span>
						<h5>Ana Bodely</h5>
						<p>“&iexcl;Afilio es una gran escuela&#33; Trabajar con nuevos desaf&iacute;os todos los d&iacute;as, las personas que creen en su potencial y hacen con lo que usted consigue siempre llegar al &eacute;xito es una oportunidad maravillosa. Saber que cada d&iacute;a somos estimulados al crecimiento personal y profesional a trav&eacute;s de la meritocracia es indescriptible.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg4">
					<div class="slider-center">
						<span>Supervisor de cuentas</span>
						<h5>Julia Couto</h5>
						<p>“Venir a trabajar aqu&iacute; es gratificante, es mi segunda casa. Aqu&iacute; compa&ntilde;eros de trabajo son como una familia.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg5">
					<div class="slider-center">
                        <span>Directora financiera</span>
						<h5>Luciana Landim</h5>
						<p>“En el equipo Afilio me trae felicidad. Aqu&iacute; se valoran como personas y profesionales. Es un ambiente desafiante y relajado, que nos proporciona crecimiento y calidad de vida.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg6">
					<div class="slider-center">
						<span>Gerente Comercial</span>
						<h5>Rafael Stefano</h5>
						<p>“Como no amar&hellip; En Afilio tengo espacio de sobra para crear y desarrollar nuevos proyectos, adem&aacute;s de todas las herramientas a disposici&oacute;n para maximizar mis habilidades de liderazgo, todo ello, alineado a una estructura de gesti&oacute;n horizontalizada y un equipo totalmente multidisciplinario. &iexcl;La combinaci&oacute;n ideal para el &eacute;xito&#33;"</p>
					</div>
				</div>
			</div>
		</section>

		<div class="clear"></div>

		<!-- Section Carreiras -->
		<section class='content mainSection carreirasPage bePart'>
			<div class="sectionImg">
				<img src="../images/carreira-1.jpg" alt="Hacer parte del equipo Afilio">
			</div>
			<div class="contentWrapper">
				<h1>Hacer parte del equipo Afilio</h1>
				<h3>Creer es esencial, pero tener actitud es lo que hace la diferencia.</h3>
				<p>Pasi&oacute;n por nuestro trabajo. Trabajamos en equipo y buscamos soluciones y estrategias innovadoras. Somos expertos en el mercado y pensamos de forma creativa y transparente. &iexcl;Para nosotros la b&uacute;squeda de la excelencia es un h&aacute;bito&#33;</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage learnAndGrow'>
			<div class="sectionImg">
				<img src="../images/carreira-2.jpg" alt="Voluntad de aprender y crecer">
			</div>
			<div class="contentWrapper">
				<h2>Voluntad de aprender y crecer</h2>
				<h3>Tenemos el deseo inagotable de saber m&aacute;s.</h3>
				<p>Nos actualizamos y buscamos siempre nuevas informaciones del mercado en el que estamos insertos. Estamos presentes en grandes eventos, cursos, encuentros y especializaciones.</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage teamWork'>
			<div class="sectionImg">
				<img src="../images/carreira-3.jpg" alt="Trabajo en equipo">
			</div>
			<div class="contentWrapper">
				<h2>Trabajo en equipo</h2>
				<h3>Nuestro equipo tiene como principio la colaboraci&oacute;n entre departamentos.</h3>
				<p>Con una visi&oacute;n unificada en beneficio de todos, crecemos juntos. &iexcl;Juntos somos m&aacute;s fuertes&#33;</p>
			</div>
		</section>
		<!-- Section Carreiras End-->

		<section class="content ctaCarreiras">
			<div class="contentWrapper">
				<h2>&iexcl;&Uacute;nete a nuestro equipo&#33;</h2>
				<p>Env&iacute;e su curr&iacute;culum para: <a href="mailto:rh@afil.io">rh@afil.io</a></p>
				<a href="https://www.linkedin.com/company/afilio" target="_blank" class="button button-circle btn-block center tam-btn">M&aacute;s informaci&oacute;n sobre nuestras vacantes</a>
			</div>
		</section>

		<section class='content mainSection carreirasPage afilioSectors'>
			<div class="contentWrapper">
				<h2>Equipo Afilio</h2>
				<h3>Nosotros somos. Nosotros podemos. Nosotros conseguimos.</h3>
				<p>Todos los sectores con el mismo foco.</p>
				<ul class='afilioTeam'>
					<li>
						<h5>Equipo TI</h5>
						<img src="../images/ti.jpg" alt="Equipo TI Afilio" />
						<p>El equipo de TI de Afilio es el responsable de los productos tecnol&oacute;gicos de Afilio, as&iacute; como la mejora de los procesos de la empresa.</p>
					</li>
					<li>
						<h5>Equipo comercial y marketing</h5>
						<img src="../images/marketing-comercial.jpg" alt="Equipo comercial y marketing Afilio" />
						<p>El equipo comercial es el primer contacto con el universo Afilio y el departamento de marketing es responsable de la comunicaci&oacute;n.</p>
					</li>
					<li>
						<h5>Equipo operacional - RJ</h5>
						<img src="../images/opec-rj.jpg" alt="Equipo operacional - RJ Afilio" />
						<p>El equipo operativo de RJ es responsable de acompa&ntilde;ar y entregar los resultados de las campa&ntilde;as de los anunciantes.</p>
					</li>
					<li>
						<h5>Equipo Operacional - SP</h5>
						<img src="../images/opec-sp.jpg" alt="Equipo Operacional - SP Afilio" />
						<p>El equipo operativo de SP es h&iacute;brido. Analizamos KPis de nuestros afiliados y optimizamos los resultados.</p>
					</li>
					<li>
						<h5>Equipo de Redes</h5>
						<img src="../images/redes.jpg" alt="Equipo de Redes Afilio" />
						<p>El equipo de Redes es responsable de la relaci&oacute;n con los afiliados de diferentes vertientes.</p>
					</li>
					<li>
						<h5>Equipo RRHH e Financeiro</h5>
						<img src="../images/rh-financeiro.jpg" alt="Equipo RRHH e Financeiro Afilio" />
						<p>El departamento financiero es responsable de la gesti&oacute;n de los recursos y el RRHH hace que la cultura de la empresa sea siempre velada.</p>
					</li>
				</ul>
			</div>
		</section>

<footer id="footer" class="footer dark">
	<div class="offices">
		<div class="office">
			<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
			<div class='address'>
				<p>Rio de Janeiro</p>
				<a href="tel:+55-21-2244-8888">&#43;55 21 2244 8888</a>
				<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
			</div>
		</div>
		<div class="office">
			<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
			<div class='address'>
				<p>S&atilde;o Paulo</p>
				<a href="tel:+55-11-3294-7958">&#43;55 11 3294 7958</a>
				<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
			</div>
		</div>
	</div>
	<div id="copyrights">
		<div class="container clearfix">
			<div class="col-md-9">
				<div class="copyrights-menu copyright-links clearfix">
					<a href="pagina-de-inicio.html">Primero</a>
					<a href="afiliados.html">Afiliados</a>
					<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
					<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
					<a href="sobre-afilio.html">Sobre Afilio</a>
					<a href="carreras.html">Carreras</a>
					<a href="contacto.html">Contacto</a>
					<a href="faq.html">FAQ</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="fright clearfix">
					<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
		</div>
		<!-- #copyrights end -->
	</div>
</footer>
<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
