<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Dudas a menudo preguntadas | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Dudas a menudo preguntadas - Afilio." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../faq.html">Portugu&eacute;s</a></li>
									<li><a href="../en/faq.html">Ingl&eacute;s</a></li>
									<li><a href="faq.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- FAQ -->
		<section class='content mainSection faqPage'>
			<div class="contentWrapper">
				<h1>FAQ</h1>
				<h3>Preguntas frecuentes</h3>
				<p>Encuentre la respuesta a algunas preguntas.</p>
				<main>
					<input id="tab1" type="radio" name="tabs" checked>
					<label class='faqLabel' for="tab1">Register</label>

					<input id="tab2" type="radio" name="tabs">
					<label class='faqLabel' for="tab2">Operativa</label>

					<input id="tab3" type="radio" name="tabs">
					<label class='faqLabel' for="tab3">Pagos</label>

					<section id="content1">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;C&oacute;mo cambiar los datos catastrales&#63;
							</div>
							<div class="togglec" style="display: none;">
								En la secci&oacute;n "Mis datos" puede actualizar algunas informaciones generales de su cuenta, como: direcci&oacute;n f&iacute;sica, tel&eacute;fono y datos bancarios. Siga el paso a paso siguiente:
								<ul class='faqList'>
									<li>Inicie sesi&oacute;n en nuestro sitio;</li>
									<li>en la secci&oacute;n "Mi cuenta", haga clic en "Mi informaci&oacute;n" para editar.</li>
								</ul>
								Para la edici&oacute;n de otras informaciones, entre en contacto.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Tengo un sitio web que el idioma principal no es el portugu&eacute;s. &iquest;Puedo registrar&#63;
							</div>
							<div class="togglec" style="display: none;">
								S&iacute;, siempre que el sitio est&eacute; dentro de los est&aacute;ndares de aprobaci&oacute;n de Afilio.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Ya utilizo otras redes de afiliaci&oacute;n. &iquest;A&uacute;n as&iacute; puedo inscribirme en Afilio&#63;
							</div>
							<div class="togglec" style="display: none;">
								S&iacute;, no exigimos exclusividad, usted puede participar de otros programas y de Afilio.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;C&oacute;mo saber si el sitio ha sido aprobado o no&#63;
							</div>
							<div class="togglec" style="display: none;">
								Usted recibir&aacute; un e-mail (el mismo que usted inform&oacute; en el registro de su sitio) en hasta 72 horas.
							</div>
						</div>

						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Cu&aacute;les son los criterios adoptados para la aprobaci&oacute;n de un sitio&#63;
							</div>
							<div class="togglec" style="display: none;">
								Es necesario que el sitio contemple algunos requisitos:
								<ul class='faqList'>
									<li>Contenido de conformidad con la ley (sin incitar el odio, las drogas, la violencia, el racismo, la pedofilia&hellip;);</li>
									<li>tener un contenido verdadero y que se actualiza constantemente;</li>
									<li>posee un dise&ntilde;o atractivo (no hacer combinaciones de colores de fondo y texto que hacen que el sitio sea ilegible o con dif&iacute;cil comprensi&oacute;n);</li>
									<li>el sitio debe estar totalmente terminado / publicado;</li>
									<li>no puede ser un sitio espejo que redirige a otro sitio;</li>
								</ul>
							</div>
						</div>
					</section>

					<section id="content2">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;C&oacute;mo elegir las campa&ntilde;as m&aacute;s adecuadas para mi canal&#63;
							</div>
							<div class="togglec" style="display: none;">
								Despu&eacute;s del registro aprobado, a partir de su segmento identifique las campa&ntilde;as que corresponden a su p&uacute;blico objetivo.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Puedo elegir las campa&ntilde;as de las que deseo participar&#63;
							</div>
							<div class="togglec" style="display: none;">
								S&iacute;. Una vez que su registro sea aprobado acceda en el men&uacute; todas las campa&ntilde;as y solicite participaci&oacute;n en las campa&ntilde;as deseadas. No hay l&iacute;mite de inscripci&oacute;n.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Puedo salir de cualquier campa&ntilde;a en el momento que quiera&#63;
							</div>
							<div class="togglec" style="display: none;">
								S&iacute;, usted tiene total poder de elecci&oacute;n del per&iacute;odo que desea vehicular determinada campa&ntilde;a.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Qui&eacute;n puede convertirse en un editor&#63;
							</div>
							<div class="togglec" style="display: none;">
								Cualquier persona f&iacute;sica o jur&iacute;dica. Basta tener un sitio dentro de nuestras reglas de aprobaci&oacute;n y llenar el registro a trav&eacute;s de la sesi&oacute;n: <a href="registro-afiliado.html">registro de afiliado</a>.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Quiero anunciar. &iquest;C&oacute;mo lo hago&#63;
							</div>
							<div class="togglec" style="display: none;">
								Por favor, contacte con nosotros a trav&eacute;s de los tel&eacute;fonos <a href="tel:+55-11-3294-7958">+55 11 3294 7958</a> o <a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>, un comercial ser&aacute; designado para atender su solicitud, evaluar el perfil de su negocio, y tan pronto como el contrato sea firmado usted ya podr&aacute; publicar sus campa&ntilde;as.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;C&oacute;mo puedo convertirme en un editor&#63;
							</div>
							<div class="togglec" style="display: none;">
								Acceda a nuestra secci&oacute;n de <a href="afiliados.html">afiliados</a> y rellene el formulario con sus datos personales y la URL de su p&aacute;gina. Es importante insertar todos tus contactos como por ejemplo, tel&eacute;fono, e-mail y Skype. Estos ser&aacute;n los medios para que Afilio se comunique con usted y podamos concluir su registro.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;C&oacute;mo generar el deeplinks&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>A trav&eacute;s de la extensi&oacute;n;</li>
									<li>entrando en la plataforma en la sesi&oacute;n "deeplink";</li>
									<li>por la API "deeplink".</li>
								</ul>
								Usted puede solicitar el manual de deeplinks para nuestro equipo.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Por qu&eacute; la campa&ntilde;a se detuvo&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Presupuesto del anunciante;</li>
									<li>estacionalidad de la campa&ntilde;a, por ejemplo: inscripci&oacute;n de la universidad;</li>
									<li>inadecuaci&oacute;n del canal para la propuesta del anunciante.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Qu&eacute; son las campa&ntilde;as p&uacute;blicas?
							</div>
							<div class="togglec" style="display: none;">
								Son campa&ntilde;as abiertas para todos los afiliados aprobados que quieran participar.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Qu&eacute; son las campa&ntilde;as privadas&#63;
							</div>
							<div class="togglec" style="display: none;">
								Campa&ntilde;as donde el afiliado no tiene visualizaci&oacute;n en la plataforma para poder seleccionar, pero el afilio puede ofrecer la campa&ntilde;a en privado.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Qu&eacute; son las campa&ntilde;as restringidas&#63;
							</div>
							<div class="togglec" style="display: none;">
								Campa&ntilde;as cerradas para algunos formatos de transmisi&oacute;n espec&iacute;ficos.
							</div>
						</div>
					</section>

					<section id="content3">
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Compr&eacute; por Afilio enlace y la venta no coger. &iquest;Qu&eacute; sucedi&oacute;&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Puede haber salido del sitio y entrado por otro medio;</li>
									<li>puede haber comprado fuera del per&iacute;odo de cookie;</li>
									<li>puede haber generado el deeplink de manera incorrecta.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								Mi venta no fue computada en la plataforma. &iquest;Qu&eacute; puede haber ocurrido&#63;
							</div>
							<div class="togglec" style="display: none;">
								<ul class='faqList'>
									<li>Problema en el enlace de seguimiento incorrecto;</li>
									<li>cookie en alg&uacute;n momento.</li>
								</ul>
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Tengo que pagar algo para afiliarme&#63;
							</div>
							<div class="togglec" style="display: none;">
								No, basta con inscribirse, esperar la aprobaci&oacute;n e iniciar la monetizaci&oacute;n de su inventario con las campa&ntilde;as disponibles en la plataforma.
							</div>
						</div>
						<div class="toggle">
							<div class="togglet">
								<i class="toggle-closed fas fa-check-circle"></i>
								<i class="toggle-open fas fa-times-circle"></i>
								&iquest;Cu&aacute;les son los tipos de remuneraciones que Afilio trabaja&#63;
							</div>
							<div class="togglec" style="display: none;">
								Acceda a la secci&oacute;n <a href="anunciantes-agencias.html#modelos_comerciais">modelos comerciales</a> y ver todos nuestros modelos, en caso de dudas usted puede enviar un e-mail a <a href='mailto:contato@afil.io' target='_blank'>contato@afil.io</a>.
							</div>
						</div>
					</section>
				</main>
			</div>
		</section>
		<!-- fim FAQ -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
