<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>C&oacute;mo funciona el marketing de afiliaci&oacute;n | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Vea aqu&iacute; c&oacute;mo funciona nuestro sistema de afiliaci&oacute;n. &iexcl;Compruebe&#33;" />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../poder-da-afiliacao.html">Portugu&eacute;s</a></li>
									<li><a href="../en/affiliation-power.html">Ingl&eacute;s</a></li>
									<li><a href="poder-de-la-afiliacion.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html" class='marcador'>El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slider" class="slider-parallax full-screen dark error404-wrap poderSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">La afiliaci&oacute;n supera otros canales de marketing.</p>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Marketing de afiliados.</h1>
											<span>Una estrategia donde todos ganan.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="../images/poder-afiliacao-afilio.jpg" preload="auto" loop autoplay muted>
						<source src='../images/videos/poder-afiliacao.mp4' type='video/mp4' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

		<!-- seção "o poder da afilização" -->
		<section class='content mainSection poderAfiliacaoIntro'>
			<div class="sectionImg">
				<img src="../images/estrategia-afiliacao.jpg" alt="Lo poder de la afiliaci&oacute;n">
			</div>
			<div class="contentWrapper">
				<h2>El poder de la afiliaci&oacute;n</h2>
				<h3>&Uacute;nica estrategia digital orientada a los resultados.</h3>
				<p>La afiliaci&oacute;n o marketing de afiliados, o el marketing de rendimiento, es una forma eficaz de medir el rendimiento de la inversi&oacute;n.</p>
				<div class="linkWrapper">
					<a href="quiero-anunciar.html">Anuncie con Afilio</a>
					<a href="registro-afiliado.html">Sea un Afiliado</a>
				</div>
			</div>
		</section>
		<!-- fim seção "o poder da afilização" -->

		<!-- seção "papel na afiliação" -->
		<section class='content mainSection secaoPapel'>
			<div class="contentWrapper">
				<h2>&iquest;Cu&aacute;l es su papel en la Afiliaci&oacute;n&#63;</h2>
				<p>La afiliaci&oacute;n o marketing de afiliados, tambi&eacute;n es conocida por la comercializaci&oacute;n de rendimiento, ya que es la &uacute;nica estrategia digital totalmente orientada a los resultados. El marketing de rendimiento es una forma eficaz de medir el rendimiento de la inversi&oacute;n.</p>
				<div class='papel'>
					<img src="../images/anunciante-poder.png" alt="AAnunciante o agencia - El papel en la Afiliaci&oacute;n">
					<div class="heading-block topmargin-sm">
						<h5>Anunciante o agencia</h5>
						<p>A trav&eacute;s de Afilio, los anunciantes o agencias apalan sus productos y servicios, ya sea en ventas, leads o exposici&oacute;n de marca. Y comisionan a los afiliados que realizaron.</p>
					</div>
				</div>
				<div class='papel'>
					<img src="../images/afiliado-poder.png" alt="Afiliados - El papel en la Afiliaci&oacute;n">
					<div class="heading-block topmargin-sm">
						<h5>Afiliado</h5>
						<p>Podemos llamar al afiliado de emprendedor digital. Es cualquier persona f&iacute;sica o jur&iacute;dica que por medio de diversos modelos de divulgaci&oacute;n o tecnolog&iacute;a innovadora promueve producto / servicio / marca ofrecido por el anunciante de Afilio. Siempre que el consumidor realice una compra, tan pronto como sea validada por el anunciante, el afiliado recibe comisi&oacute;n.</p>
					</div>
				</div>
				<div class='papel'>
					<img src="../images/afiliado-anunciante-poder.png" alt="Afilio - El papel en la Afiliaci&oacute;n">
					<div class="heading-block topmargin-sm">
						<h5>Afilio</h5>
						<p>Con una plataforma &uacute;nica y exclusiva, re&uacute;ne a los mejores afiliados y entrega a sus clientes (anunciantes y agencias), ventas, leads y exposici&oacute;n de marca / producto / servicio. Palanca el crecimiento del cliente y mide la inversi&oacute;n con eficacia.</p>
					</div>
				</div>
			</div>
  	</section>
		<!-- fim seção "papel na afiliação" -->

		<section class='content mainSection anunciantesAfiliados'>
			<div class="contentWrapper">
				<h3>&iquest;Cu&aacute;l es su papel en el escenario&#63;</h3>
				<div class="roleBox">
					<div>
						<h2>Anunciantes</h2>
						<h3>&iexcl;Aumente la exposici&oacute;n de su marca&#33;</h3>
						<p>Genera m&aacute;s ventas y leads. Recompense a los afiliados por promover sus productos / servicios con &eacute;xito. &iexcl;Sea un anunciante de la red Afilio&#33;</p>
						<p>
							<a href="quiero-anunciar.html">Quiero anunciar</a>
							<a href="anunciantes-agencias.html">Sepa mas</a>
						</p>
					</div>
					<!-- Anunciantes End-->

					<!-- Anunciantes -->
					<div>
						<h2>Afiliados</h2>
						<h3>&iexcl;Sea un afiliado de la red Afilio&#33;</h3>
						<p>Ser socio de las mejores marcas de Brasil y Am&eacute;rica Latina. Gane comisiones en asociaci&oacute;n con las mayores marcas de Brasil y Am&eacute;rica Latina, promoviendo con &eacute;xito productos y servicios.</p>
						<p>
							<a href="registro-afiliado.html">Sea un Afiliado</a>
							<a href="afiliados.html">Sepa mas</a>
						</p>
					</div>
					<!-- Anunciantes End-->
				</div>
			</div>
		</section>

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
