<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Anuncie na maior rede de afiliados do Brasil | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Anuncie agora na maior rede de afiliados do Brasil." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

    <!-- Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../quero-anunciar.html">Portugu&eacute;s</a></li>
									<li><a href="../en/want-announce.html">Ingl&eacute;s</a></li>
									<li><a href="quiero-anunciar.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->



		<!-- Contato -->
		<section class='content mainSection contactSection'>
			<div class="contentWrapper">
				<h1>Quiero anunciar</h1>
				<h3>Enviar un email a nuestro equipo&#33;</h3>
				<p>Contacto anunciante y agencia. &iquest;Todav&iacute;a en duda sobre la mejor plataforma de afiliaci&oacute;n&#63;<br />Nuestro equipo tiene una atenci&oacute;n especial para usted.</p>
				<form id="formulario-contato" name="" action="" method="post">
					<input type="text" name="nome" placeholder="Nombre" class="sm-form-control" required />
					<input type="email" name="email" placeholder="Email" class="sm-form-control" required />
					<input type="text" name="ramo" placeholder="Rama / Segmento" class="sm-form-control" required />
					<input type="tel" name="telefone" placeholder="Tel&eacute;fono" class="sm-form-control" required />
					<select name="setor" class="sm-form-control" required>
						<option value="" disabled selected>Especie</option>
						<option value="agencia">Agencia</option>
						<option value="empresa">Compa&ntilde;&iacute;a</option>
					</select>
					<textarea name="mensagem" placeholder="Mensaje" class="sm-form-control" required rows="6" cols="30"></textarea>
					<div class="g-recaptcha" data-sitekey="6LeqxKMUAAAAAF0AANmAc1R8aLvXgA4v476mg9EO"></div>
					<button class="button button-3d btn-block" type="submit" name="submit" value="submit">Enviar mensaje</button>
				</form>
			</div>
		</section>

		<div class="container">
			<div class="alert alert-success mensagem" role="alert" id="MsgSucesso">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>
					&iexcl;Hola&#33;<br/>
					&iexcl;Recibimos su mensaje&#33;<br/>
					En breve nuestro equipo se pondr&aacute; en contacto para una atenci&oacute;n exclusiva.<br/>
					&iexcl;Cu&eacute;ntanos con nosotros&#33;<br/><br/>
					Equipo Afilio.
				</p>
			</div>
		</div>
		<!-- Contato End -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>

	<!-- script chamada api gateway envio de email-->
	<script>
	    window.onload = function() {
		    var recaptcha = document.forms["formulario-contato"]["g-recaptcha-response"];

		    recaptcha.required = true;
		    recaptcha.oninvalid = function(e) {
		    	alert("Por favor complete el captcha");
	      	}
	   }
	   </script>
</body>
</html>
