<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Se registra en la mayor red de afiliados de Brasil | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Reg&iacute;strese ahora en la mayor red de afiliados de Brasil." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

    <!-- Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../cadastro-afiliado.html">Portugu&eacute;s</a></li>
									<li><a href="../en/affiliate-sign-up.html">Ingl&eacute;s</a></li>
									<li><a href="registro-afiliado.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark sticky-header pageFixed">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->


        <!-- cadastro afiliado -->
		<section class='content mainSection cadastroAfiliadoSection'>
			<div class="contentWrapper">
				<h1>Registro de Afiliado</h1>
				<h3>Llene nuestro registro con sus datos.</h3>
				<p>Su informaci&oacute;n ser&aacute; validada y usted recibir&aacute; un e-mail con la informaci&oacute;n para acceder a nuestra plataforma, a partir de ah&iacute;, es s&oacute;lo navegar, inscribirse en las campa&ntilde;as y empezar a optimizar sus ganancias&#33; En caso de duda, p&oacute;ngase en contacto con nuestro equipo y tenga una atenci&oacute;n exclusiva: +55 (11) 3294-7958.</p>
				<form class="cadastroAfiliadoForm" action="https://v2.afilio.com.br/aff/aff_signup_others.php?lang=pt_BR" id="affiliateSignUpForm" name="loginForm"  method="post">
					<input type="hidden" name="affgenre" value="0">
			    <input type="hidden" name="usertype" value="aff">
			    <input type="hidden" name="type_compte" value="site">
      		<input name="afflogin" id="signup-username" type="text" placeholder='Usuario' class="sm-form-control" required value="">
      		<input name="affemail" id="signup-email" type="email" placeholder='Email' class="sm-form-control" required value="">
      		<input name="affpass" id="signup-password" type="password" placeholder="Contrase&ntilde;a" value="" class="sm-form-control" required>
      		<input name="affpassrpt" id="r-signup-password" type="password" placeholder='Confirme la contrase&ntilde;a' class="sm-form-control" required onkeyup="verificaSenhaEdit()">
      		<input name="affprenom" id="nome-sobrenome" type="text" placeholder="Nombre y Apellido" value="" class="sm-form-control" required>
					<select id="afftype" name="afftype" onchange="atualiza_tipo_documento()" required class="sm-form-control">
	          <option value="null" disabled selected>Usted eres:</option>
	          <option value="PAR">Persona f&iacute;sica</option>
	          <option value="SOC">Persona jur&iacute;dica</option>
	        </select>
        	<input id="documento" name="affdocument_payment" type="text" placeholder="Documento" value="" class="sm-form-control" required>
      		<input name="afftel" id="telefone" type="text" placeholder="Tel&eacute;fono" value="" class="sm-form-control" required>

					<select name="affpays" id="affpays" onchange="changeState()" required class="sm-form-control">
						<option value="" disabled>Pa&iacute;s</option>
						<option value="af">Afghanistan</option>
						<option value="ax">Åland Islands</option>
						<option value="al">Albania</option>
						<option value="dz">Algeria</option>
						<option value="as">American Samoa</option>
						<option value="ad">Andorra</option>
						<option value="ao">Angola</option>
						<option value="ai">Anguilla</option>
						<option value="aq">Antarctica</option>
						<option value="ag">Antigua and Barbuda</option>
						<option value="ar">Argentina</option>
						<option value="am">Armenia</option>
						<option value="aw">Aruba</option>
						<option value="au">Australia</option>
						<option value="at">Austria</option>
						<option value="az">Azerbaijan</option>
						<option value="bs">Bahamas</option>
						<option value="bh">Bahrain</option>
						<option value="bd">Bangladesh</option>
						<option value="bb">Barbados</option>
						<option value="by">Belarus</option>
						<option value="be">Belgium</option>
						<option value="bz">Belize</option>
						<option value="bj">Benin</option>
						<option value="bm">Bermuda</option>
						<option value="bt">Bhutan</option>
						<option value="bo">Bolivia</option>
						<option value="bq">Bonaire</option>
						<option value="ba">Bosnia and Herzegovina</option>
						<option value="bw">Botswana</option>
						<option value="bv">Bouvet Island</option>
						<option value="br">Brasil</option>
						<option value="io">British Indian</option>
						<option value="bn">Brunei Darussalam</option>
						<option value="bg">Bulgaria</option>
						<option value="bf">Burkina Faso</option>
						<option value="bi">Burundi</option>
						<option value="kh">Cambodia</option>
						<option value="cm">Cameroon</option>
						<option value="ca">Canada</option>
						<option value="cv">Cape Verde</option>
						<option value="ky">Cayman Islands</option>
						<option value="cf">Central African Republic</option>
						<option value="td">Chad</option>
						<option value="cl">Chile</option>
						<option value="cn">China</option>
						<option value="cx">Christmas Island</option>
						<option value="cc">Cocos (Keeling) Islands</option>
						<option value="co">Colombia</option>
						<option value="km">Comoros</option>
						<option value="cg">Congo</option>
						<option value="cd">Congo</option>
						<option value="ck">Cook Islands</option>
						<option value="cr">Costa Rica</option>
						<option value="ci">C&ocirc;te d'Ivoire</option>
						<option value="hr">Croatia</option>
						<option value="cu">Cuba</option>
						<option value="cw">Cura&ccedil;ao</option>
						<option value="cy">Cyprus</option>
						<option value="cz">Czech Republic</option>
						<option value="dk">Denmark</option>
						<option value="dj">Djibouti</option>
						<option value="dm">Dominica</option>
						<option value="do">Dominican Republic</option>
						<option value="ec">Ecuador</option>
						<option value="eg">Egypt</option>
						<option value="sv">El Salvador</option>
						<option value="cq">Equatorial Guinea</option>
						<option value="er">Eritrea</option>
						<option value="ee">Estonia</option>
						<option value="et">Ethiopia</option>
						<option value="fk">Falkland Islands (Malvinas)</option>
						<option value="fo">Faroe Islands</option>
						<option value="fj">Fiji</option>
						<option value="fi">Finland</option>
						<option value="fr">France</option>
						<option value="gr">French Guiana</option>
						<option value="pf">French Polynesia</option>
						<option value="tf">French Southern Territories</option>
						<option value="ga">Gabon</option>
						<option value="gm">Gambia</option>
						<option value="ge">Georgia</option>
						<option value="de">Germany</option>
						<option value="gh">Ghana</option>
						<option value="gi">Gibraltar</option>
						<option value="gr">Greece</option>
						<option value="gl">Greenland</option>
						<option value="gd">Grenada</option>
						<option value="gp">Guadeloupe</option>
						<option value="gu">Guam</option>
						<option value="gt">Guatemala</option>
						<option value="gg">Guernsey</option>
						<option value="gn">Guinea</option>
						<option value="gw">Guinea-Bissau</option>
						<option value="gy">Guyana</option>
						<option value="ht">Haiti</option>
						<option value="hm">Heard Island and McDonald Islands</option>
						<option value="va">Holy See (Vatican City State)</option>
						<option value="hn">Honduras</option>
						<option value="hk">Hong Kong</option>
						<option value="hu">Hungary</option>
						<option value="is">Iceland</option>
						<option value="in">India</option>
						<option value="id">Indonesia</option>
						<option value="ir">Iran, Islamic Republic of</option>
						<option value="iq">Iraq</option>
						<option value="ie">Ireland</option>
						<option value="im">Isle of Man</option>
						<option value="il">Israel</option>
						<option value="it">Italy</option>
						<option value="jm">Jamaica</option>
						<option value="jp">Japan</option>
						<option value="je">Jersey</option>
						<option value="jo">Jordan</option>
						<option value="kz">Kazakhstan</option>
						<option value="ke">Kenya</option>
						<option value="ki">Kiribati</option>
						<option value="kr">Korea</option>
						<option value="kw">Kuwait</option>
						<option value="kg">Kyrgyzstan</option>
						<option value="la">Lao People's Democratic Republic</option>
						<option value="lv">Latvia</option>
						<option value="lb">Lebanon</option>
						<option value="ls">Lesotho</option>
						<option value="lr">Liberia</option>
						<option value="ly">Libya</option>
						<option value="li">Liechtenstein</option>
						<option value="lt">Lithuania</option>
						<option value="lu">Luxembourg</option>
						<option value="mo">Macao</option>
						<option value="mk">Macedonia</option>
						<option value="mg">Madagascar</option>
						<option value="mw">Malawi</option>
						<option value="my">Malaysia</option>
						<option value="mv">Maldives</option>
						<option value="ml">Mali</option>
						<option value="mt">Malta</option>
						<option value="mh">Marshall Islands</option>
						<option value="mq">Martinique</option>
						<option value="mr">Mauritania</option>
						<option value="mu">Mauritius</option>
						<option value="yt">Mayotte</option>
						<option value="mx" selected>Mexico</option>
						<option value="fm">Micronesia</option>
						<option value="md">Moldova</option>
						<option value="mc">Monaco</option>
						<option value="mn">Mongolia</option>
						<option value="me">Montenegro</option>
						<option value="ms">Montserrat</option>
						<option value="ma">Morocco</option>
						<option value="mz">Mozambique</option>
						<option value="mm">Myanmar</option>
						<option value="na">Namibia</option>
						<option value="nr">Nauru</option>
						<option value="np">Nepal</option>
						<option value="nl">Netherlands</option>
						<option value="nc">New Caledonia</option>
						<option value="nz">New Zealand</option>
						<option value="ni">Nicaragua</option>
						<option value="ne">Niger</option>
						<option value="ng">Nigeria</option>
						<option value="nu">Niue</option>
						<option value="nf">Norfolk Island</option>
						<option value="mp">Northern Mariana Islands</option>
						<option value="no">Norway</option>
						<option value="om">Oman</option>
						<option value="pk">Pakistan</option>
						<option value="pw">Palau</option>
						<option value="ps">Palestinian</option>
						<option value="pa">Panama</option>
						<option value="pg">Papua New Guinea</option>
						<option value="py">Paraguay</option>
						<option value="pe">Peru</option>
						<option value="ph">Philippines</option>
						<option value="pn">Pitcairn</option>
						<option value="pl">Poland</option>
						<option value="pt">Portugal</option>
						<option value="pr">Puerto Rico</option>
						<option value="qa">Qatar</option>
						<option value="re">R&eacute;union</option>
						<option value="ro">Romania</option>
						<option value="ru">Russian Federation</option>
						<option value="rw">Rwanda</option>
						<option value="bl">Saint Barth&eacute;lemy</option>
						<option value="sh">Saint Helena</option>
						<option value="KN">Saint Kitts and Nevis</option>
						<option value="lc">Saint Lucia</option>
						<option value="mf">Saint Martin (French part)</option>
						<option value="pm">Saint Pierre and Miquelon</option>
						<option value="vc">Saint Vincent and the Grenadines</option>
						<option value="ws">Samoa</option>
						<option value="sm">San Marino</option>
						<option value="st">Sao Tome and Principe</option>
						<option value="sa">Saudi Arabia</option>
						<option value="sn">Senegal</option>
						<option value="rs">Serbia</option>
						<option value="sc">Seychelles</option>
						<option value="sl">Sierra Leone</option>
						<option value="sg">Singapore</option>
						<option value="sx">Sint Maarten (Dutch part)</option>
						<option value="sk">Slovakia</option>
						<option value="si">Slovenia</option>
						<option value="sb">Solomon Islands</option>
						<option value="so">Somalia</option>
						<option value="za">South Africa</option>
						<option value="gs">South Georgia Islands</option>
						<option value="ss">South Sudan</option>
						<option value="es">Spain</option>
						<option value="lk">Sri Lanka</option>
						<option value="sd">Sudan</option>
						<option value="sr">Suriname</option>
						<option value="sj">Svalbard and Jan Mayen</option>
						<option value="sz">Swaziland</option>
						<option value="se">Sweden</option>
						<option value="ch">Switzerland</option>
						<option value="sy">Syrian Arab Republic</option>
						<option value="tw">Taiwan, Province of China</option>
						<option value="tj">Tajikistan</option>
						<option value="tz">Tanzania</option>
						<option value="th">Thailand</option>
						<option value="tl">Timor-Leste</option>
						<option value="tg">Togo</option>
						<option value="tk">Tokelau</option>
						<option value="to">Tonga</option>
						<option value="tt">Trinidad and Tobago</option>
						<option value="tn">Tunisia</option>
						<option value="tr">Turkey</option>
						<option value="tm">Turkmenistan</option>
						<option value="tc">Turks and Caicos Islands</option>
						<option value="tv">Tuvalu</option>
						<option value="ug">Uganda</option>
						<option value="ua">Ukraine</option>
						<option value="ae">United Arab Emirates</option>
						<option value="gb">United Kingdom</option>
						<option value="us">United States</option>
						<option value="uy">Uruguay</option>
						<option value="uz">Uzbekistan</option>
						<option value="vu">Vanuatu</option>
						<option value="ve">Venezuela</option>
						<option value="vn">Viet Nam</option>
						<option value="vg">Virgin Islands, British</option>
						<option value="vi">Virgin Islands, U.S.</option>
						<option value="wf">Wallis and Futuna</option>
						<option value="eh">Western Sahara</option>
						<option value="ye">Yemen</option>
						<option value="zm">Zambia</option>
						<option value="zw">Zimbabwe</option>
					</select>
					<select name="affetat" id="affstate_payment" required class="sm-form-control" style='visibility: hidden;'>
						<option value="estado" disabled selected>Ciudad</option>
						<option value="ac">Acre</option>
						<option value="al">Alagoas</option>
						<option value="am">Amazonas</option>
						<option value="ap">Amap&aacute;</option>
						<option value="ba">Bahia</option>
						<option value="ce">Cear&aacute;</option>
						<option value="df">Distrito Federal</option>
						<option value="es">Esp&iacute;rito Santo</option>
						<option value="go">Goi&aacute;s</option>
						<option value="ma">Maranh&atilde;o</option>
						<option value="mt">Mato Grosso</option>
						<option value="ms">Mato Grosso do Sul</option>
						<option value="mg">Minas Gerais</option>
						<option value="pa">Par&aacute;</option>
						<option value="pb">Para&iacute;ba</option>
						<option value="pr">Paran&aacute;</option>
						<option value="pe">Pernambuco</option>
						<option value="pi">Piau&iacute;</option>
						<option value="rj">Rio de Janeiro</option>
						<option value="rn">Rio Grande do Norte</option>
						<option value="ro">Rond&ocirc;nia</option>
						<option value="rs">Rio Grande do Sul</option>
						<option value="rr">Roraima</option>
						<option value="sc">Santa Catarina</option>
						<option value="se">Sergipe</option>
						<option value="sp">S&atilde;o Paulo</option>
						<option value="to">Tocantins</option>
					</select>

					<div>
						<input id="weekly_news" class="checkbox-style" name="weekly_news" type="checkbox" checked="">
						<label for="weekly_news" class="checkbox-style-3-label">Deseo recibir bolet&iacute;n semanal.</label>
					</div>

					<div>
						<input id="daily_news" class="checkbox-style" name="daily_news" type="checkbox" checked="">
						<label for="daily_news" class="checkbox-style-3-label">Deseo recibir e-mail con actualizaci&oacute;n de material.</label>
					</div>

					<div>
						<input id="cupom" class="checkbox-style" name="cupom" type="checkbox" checked="">
						<label for="cupom" class="checkbox-style-3-label">Deseo recibir material de Cupones y Descuentos diarios.</label>
					</div>

					<div>
						<input id="marketing" class="checkbox-style" name="marketing" type="checkbox" checked="">
						<label for="marketing" class="checkbox-style-3-label">Deseo recibir e-mail marketing.</label>
					</div>

					<div>
						<input id="check_2" class="checkbox-style" name="check_2" type="checkbox">
						<label for="check_2" class="checkbox-style-3-label">No utilizar&eacute; material de campa&ntilde;a de los anunciantes en sitios de contenido adulto, er&oacute;ticos o pornogr&aacute;ficos. He le&iacute;do y estoy de acuerdo con los t&eacute;rminos y condiciones.</label>
					</div>

					<a href="http://afilio-public-general.s3.amazonaws.com/contratos/Contrato_Locacao_Espaco_Virtual__PT.pdf" target="_blank">Leer el contrato</a>

					<div class="g-recaptcha" data-sitekey="6LeqxKMUAAAAAF0AANmAc1R8aLvXgA4v476mg9EO"></div>

					<button class="button button-3d btn-block" type="submit" id="" name="" value="submit">Finalizar mi registro</button>
				</form>
			</div>
		</section>
		<!-- fim cadastro afiliado -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
	<script type='text/javascript'>
		window.onload = function() {
			var recaptcha = document.forms["affiliateSignUpForm"]["g-recaptcha-response"];
			recaptcha.required = true;
			recaptcha.oninvalid = function(e) {
				alert("Por favor complete o captcha");
			}
		}
	</script>
</body>
</html>
