<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Conozca el mejor programa de afiliados | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Afilio es l&iacute;der en el mercado de performance en Brasil. Ofrece a sus clientes, agencias y anunciantes, los mejores resultados en la web y m&oacute;vil." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Seleccione el idioma</a>
								<ul id="langMenu">
									<li><a href="../sobre-afilio.html">Portugu&eacute;s</a></li>
									<li><a href="../en/about-afilio.html">Ingl&eacute;s</a></li>
									<li><a href="sobre-afilio.html">Espa&ntilde;ol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contacto.html">Contacto</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Iniciar sesi&oacute;n</a>
								<div id="top-cart">
									<div class="top-cart-content">
										<form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
											<input type="text" name="auth_login" placeholder="Usuario" required>
											<input type="password" id="auth_pass" name="auth_pass" placeholder="Contrase&ntilde;a" required>
											<select name="auth_type" required>
												<option value='' disabled selected>Especie</option>
												<option value="aff">Afiliado</option>
												<option value="mer">Anunciante</option>
											</select>
											<input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Recordar contrase&ntilde;a</label>
											<div>
												<input type="submit" value='Entrar' class="btn btn-danger btn-block">
												<input type="hidden" value="ok" name="Ok">
												<input type="hidden" value="afilio" name="from">
												<input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
												<input type="hidden" value="3" name="id_regie">
											</div>
										</form>
										<a href="https://v2.afilio.com.br/password.php" target='_blank'>&iquest;Olvido la contrase&ntilde;a&#63;</a>
										<a href="registro-afiliado.html">Reg&iacute;strate</a>
									</div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="pagina-de-inicio.html" class="standard-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="pagina-de-inicio.html" class="retina-logo" data-dark-logo="../images/logo-afilio.png"><img src="../images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="pagina-de-inicio.html">Primero</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes y agencias</a></li>
							<li><a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a></li>
							<li>
								<a href='#' data-select='about-menu' class='marcador'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nuestra historia</a></li>
									<li><a href="sobre-afilio.html#lideres">Nuestros l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreras.html">Carreras</a></li>
									<li><a href="casos.html">Casos</a></li>
								</ul>
							</li>
							<!--<li><a href='noticias.html'>Noticias</a></li>-->
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slider" class="slider-parallax full-screen dark error404-wrap sobreSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Rendimiento m&oacute;vil.</h1>
											<span>Soluciones m&oacute;viles para aumentar su rendimiento.</span>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">Convi&eacute;rtete en un afiliado.</p>
											<span>Contamos con los mayores minoristas del pa&iacute;s en nuestra red, adem&aacute;s de diversos anunciantes presentes en toda Am&eacute;rica Latina.</span>
											<a href="registro-afiliado.html" class="button button-circle">Reg&iacute;strate ahora</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="../images/sobre-afilio.jpg" preload="auto" loop autoplay muted>
						<source src='../images/videos/To-The-Left.mp4' type='video/mp4' />
						<source src='../images/videos/To-The-Left.webm' type='video/webm' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

		<section class='content mainSection historySection' id='nossahistoria'>
			<div class="sectionImg">
				<img src="../images/afilioConnection-home.jpg" alt="Sobre Afilio">
			</div>
			<div class="contentWrapper">
				<h2>Nuestra historia</h2>
				<h3>Focados em marketing de performance, desde sua cria&ccedil;&atilde;o em 2008.</h3>
				<p>Con m&aacute;s de 10 a&ntilde;os en el mercado de afiliaci&oacute;n, fuimos la empresa pionera en este segmento en Brasil. Nuestro equipo se dedica a ofrecer a agencias y anunciantes, estrategias y soluciones innovadoras para generar grandes resultados en la web, ya sea en leads, ventas o branding. Con oficinas en R&iacute;o de Janeiro y en S&atilde;o Paulo, actuamos en el mercado nacional e internacional.</p>
			</div>
		</section>

		<section class='content mainSection leadersSection' id='lideres'>
			<div class="contentWrapper">
				<h2>Nuestros l&iacute;deres</h2>
				<ul class='leaderList'>
					<li>
						<div class="image">
							<img srcset="../images/team/fernanda.jpg" alt="Fernanda Hermanny - Directora de operaciones">
						</div>
						<div class="blurb">
							<p>Fernanda Hermanny</p>
							<span>Directora de operaciones</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/felipe.jpg" alt="Felipe Oliveira - Director de Tecnologia">
						</div>
						<div class="blurb">
							<p>Felipe Oliveira</p>
							<span>Director de Tecnologia</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/luciana.jpg" alt="Luciana Landim - Directora Financiera">
						</div>
						<div class="blurb">
							<p>Luciana Landim</p>
							<span>Directora Financiera</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/rafael.jpg" alt="Rafael Stefano - Gerente Comercial">
						</div>
						<div class="blurb">
							<p>Rafael Stefano</p>
							<span>Gerente Comercial</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/bruno.jpg" alt="Bruno Motta - Gerente de Redes">
						</div>
						<div class="blurb">
							<p>Bruno Motta</p>
							<span>Gerente de Redes</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/jeferson.jpg" alt="Jeferson Silva - Gerente de TI">
						</div>
						<div class="blurb">
							<p>Jeferson Silva</p>
							<span>Gerente de TI</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/amanda.jpg" alt="Amanda Emmerick - Coordinadora Operativa - SP">
						</div>
						<div class="blurb">
							<p>Amanda Emmerick</p>
							<span>Coordinadora Operativa - SP</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="../images/team/gabriel.jpg" alt="Gabriel Antoun - Coordinador Operativa - RJ">
						</div>
						<div class="blurb">
							<p>Gabriel Antoun</p>
							<span>Coordinador Operativo - RJ</span>
						</div>
					</li>
				</ul>
			</div>
		</section>
        <div class="clear"></div>
        <!-- Nossos L&iacute;deres End-->

		<!--CJ -->
		<section class='content mainSection parceira' id='cj'>
            <div class='contentWrapper'>
                <img src="../images/logo-cj.svg" alt="CJ Affiliate Logo" />
                <h2>Afilio &amp; CJ | Commission Junction</h2>
                <h3>M&aacute;s oportunidades internacionales.</h3>
                <p>Afilio es el brazo exclusivo en Brasil y Am&eacute;rica Latina de la mayor red de afiliaci&oacute;n global.</p>
                <div class='topics'>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="300">
                        <i class="fas fa-building fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="20" data-refresh-interval="10" data-speed="2500"></span> a&ntilde;os</div>
                        <p>En el mercado de afiliaci&oacute;n.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="200">
                        <i class="fas fa-briefcase fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="1500" data-refresh-interval="10" data-speed="2500"></span></div>
                        <p>Anunciantes registrados.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="600">
                        <i class="fas fa-globe-americas fa-2x"></i>
                        <div class="counter counter-lined"><span data-from="0" data-to="60" data-refresh-interval="10" data-speed="2500"></span>&#37;</div>
                        <p>Del mercado de afiliaci&oacute;n de EE.UU.</p>
                    </div>
                </div>
            </div>
		</section>
		<!--CJ End-->

		<!-- Depoimentos -->
		<section class='content mainSection cjTestimonials'>
			<div class="contentWrapper">
				<h2>Testimonios</h2>
				<h3>Lo que dice la CJ.</h3>
				<p>Nuestra asociaci&oacute;n fortalece.</p>
				<div class="testimonialSliderWrapper">
					<ul id="testimonialSlider">
						<li class='activeTestimonialSlide'>
							<h5>Bindi Singh</h5>
							<span>Director global de editores y socios</span>
							<p>Nuestra asociaci&oacute;n con Afilio permite que nuestros anunciantes aprovechen su amplia base de editores para expandirse y crecer en el mercado Latam. Los miembros del equipo de Afilio est&aacute;n bien informados y nos han permitido entender mejor al cliente de Latam y atenderlo de manera m&aacute;s eficaz. Hemos visto un tremendo crecimiento en la regi&oacute;n. &iexcl;Los ingresos de CJ en Latam han aumentado m&aacute;s de 2 veces este a&ntilde;o&#33;</p>
						</li>
						<li>
							<h5>Timothy Bruderek</h5>
							<span>Gerente de cuenta global</span>
							<p>Esta asociaci&oacute;n estrat&eacute;gica ha permitido a CJ y Afilio hacer crecer la industria de marketing de afiliados en los mercados de Brasil y Am&eacute;rica Latina. CJ trabaja diligentemente junto con Afilio para proporcionar a los editores las herramientas que necesitan para aumentar las ventas, obtener acceso a las mejores ofertas e incentivos y entregar a los clientes una amplia variedad de anunciantes diversos.</p>
						</li>
                    </ul>
                </div>
                <div class="testimonialSlideControl">
                    <div class="testimonialController prev"><i class="fa fa-angle-left"></i></div>
                    <div class="testimonialController next"><i class="fa fa-angle-right"></i></div>
                </div>
			</div>
		</section>
		<!-- Depoimentos End-->

		<!-- Instituto Afilio -->
		<section class='content mainSection institutoAfilio' id='instituto'>
			<div class="contentWrapper">
				<h2>Instituto Afilio</h2>
				<h3>&iexcl;Peque&ntilde;as actitudes, grandes cambios&#33;</h3>
				<p>Buscamos el crecimiento educativo y personal de los colaboradores y de la comunidad en la que estamos insertos. Conozca nuestras iniciativas:</p>
				<ul class='listaIniciativas'>
					<li>
						<img src="../images/logo-bullying-do-bem.jpg" alt='Logo Bullying do bem'>
                        <h5>Bullying del Bien</h5>
                        <p>La Afilio y la Bullying del Bien promovieron acciones de limpieza en las playas del RJ. Peque&ntilde;as acciones hoy, hacen grandes diferencias ma&ntilde;ana.</p>
					</li>
					<li>
						<img src="../images/agasalho-campanha.jpg" alt='Campa&ntilde;a del Agastillo Afilio'>
						<h5>Campa&ntilde;a del Agastillo Afilio</h5>
						<p>Campa&ntilde;a interna de donaci&oacute;n de abrigo. Las donaciones se env&iacute;an a la Cruz Roja o al Ayuntamiento.</p>
					</li>
					<li>
						<img src="../images/afilio-run.jpg" alt='Afilio Run'>
						<h5>Afilio Run</h5>
						<p>Como incentivo a la calidad de vida, colaboradores participan de maratones en RJ y SP patrocinados por Afilio.</p>
					</li>
				</ul>
			</div>
		</section>
		<!-- Fim Instituto Afilio -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="../images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">Calle Helios Seelinger, nº 155, 4º Piso - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="../images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">Calle Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="pagina-de-inicio.html">Primero</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes y agencias</a>
							<a href="poder-de-la-afiliacion.html">El poder de la afiliaci&oacute;n</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreras.html">Carreras</a>
							<a href="contacto.html">Contacto</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="../js/functions.js"></script>
</body>
</html>
