{% extends 'base.html' %}
{% block content %}
    <title>Como anunciar e divulgar | Afilio</title>
    <meta name="description" content="Aumente seus lucros e a visibilidade de sua marca com nosso sistema de afilia&ccedil;&atilde;o. Anuncie j&aacute;&#33;" />
</head>
<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
{% include 'header.html' %}
		<section id="slider" class="slider-parallax full-screen dark error404-wrap anunciantesSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">Trabalhamos para o seu sucesso&#33;</p>
											<span>Amplie os seus lucros e aumente o alcance das suas campanhas.</span>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Melhore o retorno dos seus investimentos.</h1>
											<span>Anuncie e pague somente pela performance.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="{{url_for('static',filename='images/anunciantes-afilio.jpg')}}" preload="auto" loop autoplay muted>
						<source src="{{url_for('static',filename='images/videos/Working-Space.mp4')}}" type='video/mp4' />
						<source src="{{url_for('static',filename='images/videos/Working-Space.mp4')}}" type='video/webm' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

    <!-- Section vantagens de anunciar -->
		<section class="content mainSection vantagens">
			<div class="sectionImg">
				<img src="{{url_for('static',filename='images/anunciantes-home.jpg')}}" alt='Anuncie com a Afilio' />
			</div>
			<div class="contentWrapper">
				<h2>Vantagens</h2>
				<h3>In&uacute;meras vantagens em anunciar com a Afilio.</h3>
				<p>Saiba de tudo que voc&ecirc; ter&aacute; direito.</p>
				<ul class='listaVantagens'>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>Mais de 50 mil afiliados selecionados manualmente em cada campanha;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>audi&ecirc;ncia segmentada e qualificada, nacional e internacional;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>modelo de campanha por performance;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>atendimento exclusivo: gerente dedicado &agrave; campanha;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>expertise no comportamento do consumidor e no mercado digital;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>refer&ecirc;ncia em atendimento em redes de performance;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>controle de fraudes;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>plataforma pr&oacute;pria com monitoramento em tempo real;</li>
					<li><i class="fas fa-check-circle rightmargin-sm color_rosa"></i>diversos canais para otimiza&ccedil;&atilde;o de campanhas.</li>
				</ul>
				<a href="quero-anunciar.html">Quero anunciar</a>
			</div>
		</section>
		<!-- fim seção vantagens de anunciar -->


  	<!--Section Nossos Sistemas -->
		<section class="content mainSection secaoModelos" id='modelos_comerciais'>
			<div class="contentWrapper">
				<h2>Modelos comerciais</h2>
				<h3>Nosso modelos s&atilde;o focados em retorno do investimento&#33;</h3>
				<p>A Afilio trabalha com diversos modelos comerciais, veja a lista de todos eles:</p>

				<ul class="modelosComerciais">
					<li>
						<h5>CPA</h5>
						<p>Comiss&atilde;o baseada na compra de um produto, ideal para performance.</p>
					</li>
					<li>
						<h5>CPL</h5>
						<p>Comiss&atilde;o por preenchimento de formul&aacute;rios de cadastro.</p>
					</li>
					<li>
						<h5>CPI</h5>
						<p>Baseado a instala&ccedil;&atilde;o de um app ou software e toolbars.</p>
					</li>
					<li>
						<h5>CPC</h5>
						<p>Tr&aacute;fego qualificado e segmentado, ideal para campanhas de branding.</p>
					</li>
					<li>
						<h5>CPM</h5>
						<p>Custo por 1000 impress&otilde;es. Indicado para gera&ccedil;&atilde;o de tr&aacute;fego e branding.</p>
					</li>
					<li>
						<h5>CPD</h5>
						<p>Baseado na contrata&ccedil;&atilde;o de disparo de e-mail marketing para bases qualificadas.</p>
					</li>
					<li>
						<h5>CPV</h5>
						<p>Custo por view ou visita. Ideal para branding.</p>
					</li>
				</ul>
				<a href="quero-anunciar.html">Quero anunciar</a>
			</div>
		</section>
    <!-- fim Section Nossos Sistemas End-->

		<!-- Section formatos publicidade -->
		<section class='content mainSection formatosPublicidade'>
			<div class="contentWrapper">
				<h2>Formatos de publicidade</h2>
				<h3>Diversos formatos para alcan&ccedil;ar seu objetivo&#33;</h3>
				<p>Nossos afiliados trabalham com todos os formatos de divulga&ccedil;&atilde;o.</p>
				<div class="listaFormatos">
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-link"></i>
						</div>
						<p>Links de texto</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-mail-bulk"></i>
						</div>
						<p>E-mail marketing</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-money-bill"></i>
						</div>
						<p>Cupons de desconto</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect" >
						<div class="fbox-icon">
							<i class="fas fa-file-alt"></i>
						</div>
						<p>Feeds XML</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-user-cog"></i>
						</div>
						<p>Retargeting</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-cash-register"></i>
						</div>
						<p>Cashback</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-download"></i>
						</div>
						<p>Plugins</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-users"></i>
						</div>
						<p>Influenciadores</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-digital-tachograph"></i>
						</div>
						<p>An&uacute;ncios nativos</p>
					</div>
					<div class="feature-box fbox-border fbox-light fbox-effect">
						<div class="fbox-icon">
							<i class="fas fa-image"></i>
						</div>
						<p>Banner</p>
					</div>
				</div>
				<a href="quero-anunciar.html">Quero anunciar</a>
			</div>
		</section>
		<!-- Section formatos publicidade End -->

{% include 'footer.html' %}	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

{% endblock %}