<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Trabalhe conosco | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Venha fazer parte da Afilio." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Selecione o idioma</a>
								<ul id="langMenu">
									<li><a href="carreiras.html">Portugu&ecirc;s</a></li>
									<li><a href="en/careers.html">Ingl&ecirc;s</a></li>
									<li><a href="es/carreras.html">Espanhol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contato.html">Contato</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Entrar</a>
								<div id="top-cart">
                                    <div class="top-cart-content">
                                        <form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
                                            <input type="text" name="auth_login" placeholder="Usu&aacute;rio" required>
                                            <input type="password" id="auth_pass" name="auth_pass" placeholder="Senha" required>
                                            <select name="auth_type" required>
                                                <option value='' disabled selected>Tipo</option>
                                                <option value="aff">Afiliado</option>
                                                <option value="mer">Anunciante</option>
                                            </select>
                                            <input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Lembrar senha</label>
                                            <div>
                                                <input type="submit" value="Enviar" class="btn btn-danger btn-block">
                                                <input type="hidden" value="ok" name="Ok">
                                                <input type="hidden" value="afilio" name="from">
                                                <input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
                                                <input type="hidden" value="3" name="id_regie">
                                            </div>
                                        </form>
                                        <a href="https://v2.afilio.com.br/password.php" target='_blank'>Esqueceu a senha&#63;</a>
                                        <a href="cadastro-afiliado.html">Novo cadastro</a>
                                    </div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-afilio.png"><img src="images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-afilio.png"><img src="images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="index.html">In&iacute;cio</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a></li>
							<li><a href="poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a></li>
							<li>
								<a href='#' data-select='about-menu'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nossa hist&oacute;ria</a></li>
									<li><a href="sobre-afilio.html#lideres">Nossos l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreiras.html">Carreiras</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<li><a href="noticias/index.html">Not&iacute;cias</a></li>
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slide-show" class="slider-parallax revslider-wrap full-screen clearfix">
			<div class="slidex activx">
				<div class="bg bg1">
					<div class="slider-center">
						<span>Gerente de TI</span>
						<h5>Jeferson Silva</h5>
						<p>"A Afilio &eacute; uma empresa sensacional&#33; Um lugar que tem um ambiente de trabalho incr&iacute;vel, aberta a inova&ccedil;&atilde;o tecnol&oacute;gica e com a colabora&ccedil;&atilde;o de todos. Est&aacute; sendo uma grande experi&ecirc;ncia crescer e colaborar com o crescimento da Afilio."</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg2">
					<div class="slider-center">
						<span>Gerente de UX</span>
						<h5>Diogo Felix</h5>
						<p>“Nosso ambiente de trabalho &eacute; excelente&#33; Tenho prazer em produzir e entregar resultados. O mais legal &eacute; o investimento da Afilio em seus colaboradores, se algu&eacute;m busca ascens&atilde;o profissional, a empresa est&aacute; &agrave; disposi&ccedil;&atilde;o. Hoje me sinto grato por todas as oportunidades adquiridas e tenho certeza de que aqui &eacute; o meu lugar.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg3">
					<div class="slider-center">
						<span>Gerente de RH</span>
						<h5>Ana Bodely</h5>
						<p>“A Afilio &eacute; uma grande escola&#33; Trabalhar com novos desafios todos os dias, pessoas que acreditam no seu potencial e fazem com o que voc&ecirc; consiga sempre chegar ao sucesso &eacute; uma oportunidade maravilhosa. Saber que a cada dia somos estimulados ao crescimentos pessoal e profissional atrav&eacute;s da meritocracia &eacute; indescrit&iacute;vel.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg4">
					<div class="slider-center">
						<span>Supervisora de contas</span>
						<h5>Julia Couto</h5>
						<p>“Vir trabalhar aqui &eacute; gratificante, &eacute; a minha segunda casa. Aqui colegas de trabalho s&atilde;o como uma fam&iacute;lia.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg5">
					<div class="slider-center">
						<span>Diretora Financeira</span>
						<h5>Luciana Landim</h5>
						<p>“Fazer parte do time Afilio me traz felicidade. Aqui somos valorizados como pessoas e profissionais. &Eacute; um ambiente desafiador e descontra&iacute;do, que nos proporciona crescimento e qualidade de vida.“</p>
					</div>
				</div>
			</div>

			<div class="slidex">
				<div class="bg bg6">
					<div class="slider-center">
						<span>Gerente Comercial</span>
						<h5>Rafael Stefano</h5>
						<p>“Como n&atilde;o amar&hellip; Na Af&iacute;lio tenho espa&ccedil;o de sobra para criar e desenvolver novos projetos, al&eacute;m de todas as ferramentas &agrave; disposi&ccedil;&atilde;o para maximizar minhas habilidades de lideran&ccedil;a, tudo isso, alinhado a uma estrutura de gest&atilde;o horizontalizada e um time totalmente multidisciplinar. A combina&ccedil;&atilde;o ideal para o sucesso&#33;“</p>
					</div>
				</div>
			</div>
		</section>

		<div class="clear"></div>

		<!-- Section Carreiras -->
		<section class='content mainSection carreirasPage bePart'>
			<div class="sectionImg">
				<img src="images/carreira-1.jpg" alt="Faça parte da Afilio">
			</div>
			<div class="contentWrapper">
				<h1>Fa&ccedil;a parte da equipe Afilio</h1>
				<h3>Acreditar &eacute; essencial, mas ter atitude &eacute; o que faz a diferen&ccedil;a.</h3>
				<p>Paix&atilde;o pelo nosso trabalho. Trabalhamos em equipe e buscamos por solu&ccedil;&otilde;es e estrat&eacute;gias inovadoras. Somos experts no mercado e pensamos de forma criativa e transparente. Para n&oacute;s a busca pela excel&ecirc;ncia &eacute; um h&aacute;bito&#33;</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage learnAndGrow'>
			<div class="sectionImg">
				<img src="images/carreira-2.jpg" alt="Cresça com a Afilio">
			</div>
			<div class="contentWrapper">
				<h2>Vontade de aprender e crescer</h2>
				<h3>Temos o desejo inesgot&aacute;vel de saber mais.</h3>
				<p>N&oacute;s nos atualizamos e buscamos sempre novas informa&ccedil;&otilde;es do mercado em que estamos inseridos. Estamos presentes em grandes eventos, cursos, encontros e especializa&ccedil;&otilde;es.</p>
			</div>
		</section>

		<section class='content mainSection carreirasPage teamWork'>
			<div class="sectionImg">
				<img src="images/carreira-3.jpg" alt="Trabalhe em equipe">
			</div>
			<div class="contentWrapper">
				<h2>Trabalho em equipe</h2>
				<h3>Nossa equipe tem como principio a colabora&ccedil;&atilde;o entre departamentos.</h3>
				<p>Com uma vis&atilde;o unificada em benef&iacute;cio de todos, crescemos juntos. Juntos somos mais fortes&#33;</p>
			</div>
		</section>
		<!-- Section Carreiras End-->

		<section class="content ctaCarreiras">
			<div class="contentWrapper">
				<h2>Fa&ccedil;a parte da nossa equipe&#33;</h2>
				<p>Envie o seu curr&iacute;culo para: <a href="mailto:rh@afil.io">rh@afil.io</a></p>
				<a href="https://www.linkedin.com/company/afilio" target="_blank" class="button button-circle btn-block center tam-btn">Saiba mais sobre as nossas vagas</a>
			</div>
		</section>

		<section class='content mainSection carreirasPage afilioSectors'>
			<div class="contentWrapper">
				<h2>Time Afilio</h2>
				<h3>N&oacute;s somos. N&oacute;s podemos. N&oacute;s conseguimos.</h3>
				<p>Todos os setores com o mesmo foco.</p>
				<ul class='afilioTeam'>
					<li>
						<h5>Equipe TI</h5>
						<img src="images/ti.jpg" alt="Equipe TI Afilio" />
						<p>O time de T.I. da Afilio &eacute; o respons&aacute;vel pelos produtos tecnol&oacute;gicos da Afilio, assim como a melhoria dos processos da empresa.</p>
					</li>
					<li>
						<h5>Equipe comercial e marketing</h5>
						<img src="images/marketing-comercial.jpg" alt="Equipe Comercial e Marketing Afilio" />
						<p>A equipe comercial &eacute; o primeiro contato com o universo Afilio e o departamento de marketing &eacute; respons&aacute;vel pela comunica&ccedil;&atilde;o.</p>
					</li>
					<li>
						<h5>Equipe operacional - RJ</h5>
						<img src="images/opec-rj.jpg" alt="Equipe Operacional RJ Afilio" />
						<p>A equipe operacional do RJ &eacute; respons&aacute;vel por acompanhar e entregar os resultados das campanhas dos anunciantes.</p>
					</li>
					<li>
						<h5>Equipe Operacional SP</h5>
						<img src="images/opec-sp.jpg" alt="Equipe Operacional SP Afilio" />
						<p>A equipe operacional de SP &eacute; h&iacute;brida. Analisamos KPis dos nossos afiliados e otimizamos os resultados.</p>
					</li>
					<li>
						<h5>Equipe de Redes</h5>
						<img src="images/redes.jpg" alt="Equipe de Redes Afilio" />
						<p>A equipe de Redes &eacute; respons&aacute;vel pelo relacionamento com os afiliados de diferentes vertentes.</p>
					</li>
					<li>
						<h5>Equipe RH e Financeiro</h5>
						<img src="images/rh-financeiro.jpg" alt="Equipe do RH e Financeiro Afilio" />
						<p>O departamento Financeiro &eacute; respons&aacute;vel pela gest&atilde;o dos recursos e o RH faz com que a cultura da empresa seja sempre zelada.</p>
					</li>
				</ul>
			</div>
		</section>

<footer id="footer" class="footer dark">
	<div class="offices">
		<div class="office">
			<img src="images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
			<div class='address'>
				<p>Rio de Janeiro</p>
				<a href="tel:+55-21-2244-8888">&#43;55 21 2244 8888</a>
				<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">R. Helios Seelinger, nº 155, 4º Andar - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
			</div>
		</div>
		<div class="office">
			<img src="images/sao-paulo.jpg" alt="S&atilde;o Paulo">
			<div class='address'>
				<p>S&atilde;o Paulo</p>
				<a href="tel:+55-11-3294-7958">&#43;55 11 3294 7958</a>
				<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">R. Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
			</div>
		</div>
	</div>
	<div id="copyrights">
		<div class="container clearfix">
			<div class="col-md-9">
				<div class="copyrights-menu copyright-links clearfix">
					<a href="index.html">In&iacute;cio</a>
					<a href="afiliados.html">Afiliados</a>
					<a href="anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a>
					<a href="poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a>
					<a href="sobre-afilio.html">Sobre Afilio</a>
					<a href="carreiras.html">Carreiras</a>
					<a href="contato.html">Contato</a>
					<a href="faq.html">FAQ</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="fright clearfix">
					<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
		</div>
		<!-- #copyrights end -->
	</div>
</footer>
<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
