{% extends 'base.html' %}
{% block content %}
   
    
    <title>L&iacute;der em marketing de performance no Brasil | Afilio</title>
    <!-- Google Search Console Tag -->
    <meta name="google-site-verification" content="RFbMxCgSA40A4I3STD6qIRnjYbfpRuarfUvLVkK1qOo" />
    <!-- End Google Search Console Tag -->
    <meta name="description" content="Afilio &eacute; l&iacute;der no mercado de performance no Brasil. Oferece a seus clientes, ag&ecirc;ncias e anunciantes, os melhores resultados na web e mobile." />
<!-- SEO -->
    <link rel=”canonical” href="https://www.afilio.com.br/" />
<!-- End SEO -->
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		

		<!-- Header & Topbar -->
		{% include 'header.html' %}

		<section id="slider" class="slider-parallax full-screen dark error404-wrap homeSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Experimente o marketing de performance com a Afilio.</h1>
											<!-- <span>Alcance grandes resultados.</span> -->
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">Resultados em vendas, lead e branding.</p>
											<span>As melhores solu&ccedil;&otilde;es para suas campanhas online.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1 doisb">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide flex-active-slide slide-rightColumn" data-thumb-alt="">
										<div class="transic-texto-home anima-right-animate-opacity slide-flexBox">
											<p class="valor-header color_azul sliderTitle">&#43;R&#36;<span class='slide-font-adjust'>2</span>BI</p>
											<span>De vendas geradas para anunciantes.</span>
										</div>
									</div>
									<div class="slide flex-active-slide slide-rightColumn" data-thumb-alt="">
										<div class="transic-texto-home anima-right-animate-opacity slide-flexBox">
											<p class="valor-header color_azul sliderTitle">&#43;10 anos</p>
											<span>No mercado de afilia&ccedil;&atilde;o.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="{{url_for('static',filename='images/home-afilio.jpg')}}" preload="auto" loop autoplay muted>
						<source src="{{url_for('static',filename='images/videos/home.mp4')}}" type='video/mp4' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

		<!-- seção afiliados -->
		<section class="content mainSection afiliados">
			<div class="sectionImg">
				<img src="{{url_for('static',filename='images/afiliado-home.jpg')}}" alt='Seja um afiliado'>
			</div>
			<div class='contentWrapper'>
				<h2>Afiliados</h2>
				<h3>Otimize seus lucros com as melhores comiss&otilde;es do mercado.</h3>
				<p><b>Mais campanhas. Mais oportunidades. Mais lucro.</b><br />Contamos com os maiores anunciantes do pa&iacute;s e diversos parceiros em toda a Am&eacute;rica Latina. Ao se tornar um afiliado voc&ecirc; ter&aacute; acesso a todas as campanhas em uma plataforma exclusiva com relat&oacute;rios em tempo real.</p>
				<div class='linkWrapper'>
					<a href="afiliados.html">Vantagens de ser um Afiliado</a>
					<a href="cadastro-afiliado.html">Cadastre agora</a>
				</div>
			</div>
		</section>
		<!-- fim seção afiliados -->

		<!-- seção anunciantes -->
		<section class="content mainSection anunciantes">
			<div class="sectionImg">
				<img src="{{url_for('static',filename='images/anunciantes-home.jpg')}}" alt='Anuncie com a Afilio'>
			</div>
			<div class='contentWrapper'>
				<h2>Anunciantes</h2>
				<h3>Experimente solu&ccedil;&otilde;es inovadoras.</h3>
				<p><b>Quer garantir o melhor ROI para sua campanha&#63;</b><br />Maximize os seus resultados com o marketing de performance, o anunciante paga s&oacute; pelo resultado validado. <br />Aumente a visibilidade de sua campanha com os melhores afiliados.</p>
				<div class='linkWrapper'>
					<a href="anunciantes-agencias.html">Vantagens de anunciar na Afilio</a>
					<a href="quero-anunciar.html">Anuncie agora</a>
				</div>
			</div>
		</section>
		<!-- fim seção anunciantes -->

		<!--Section Nossos Sistemas -->
		<section class="content mainSection poderAfiliacao">
			<div class='contentWrapper'>
				<h2>O poder da afilia&ccedil;&atilde;o</h2>
				<h3>Como funciona na pr&aacute;tica&#63;</h3>
				<p>O marketing de afilia&ccedil;&atilde;o &eacute; a &uacute;nica estrat&eacute;gia voltada para os resultados. Uma forma eficaz de mensura&ccedil;&atilde;o de retorno sobre investimento.</p>
				<div class='stepsSlider'>
					<button type='button' class='stepsSliderBtn btnPrev'>&lt;</button>
					<button type='button' class='stepsSliderBtn btnNext'>&gt;</button>
					<ul class='steps'>
						<li data-step='step3'>O consumidor interage e &eacute; direcionado para o site do anunciante.</li>
						<li data-step='step4'>O consumidor finaliza a compra.</li>
						<li data-step='step5'>A plataforma da Afilio contabiliza a compra.</li>
						<li data-step='step6'>O anunciante valida a compra para a Afilio.</li>
						<li data-step='step7'>O afiliado recebe a comiss&atilde;o.</li>
						<li data-step='step1'>O anunciante disponibiliza a campanha.</li>
						<li data-step='step2'>O afiliado divulga a campanha em seu canal.</li>
					</ul>
				</div>
				<a href="poder-da-afiliacao.html">Saiba mais</a>
			</div>
		</section>
		<!--Section Nossos Sistemas End-->

		<!--CJ -->
		<section class='content mainSection parceira'>
            <div class='contentWrapper'>
                <img src="{{url_for('static',filename='images/logo-cj.svg')}}" alt="CJ Affiliate Logo" />
                <h2>Afilio &amp; CJ | Commission Junction</h2>
                <h3>Mais oportunidades internacionais.</h3>
                <p>A Afilio &eacute; o bra&ccedil;o exclusivo no Brasil e Am&eacute;rica Latina da maior rede de afilia&ccedil;&atilde;o global.</p>
                <div class='topics'>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="300">
                        <i class="fas fa-building fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="20" data-refresh-interval="10" data-speed="2500"></span> anos</div>
                        <p>No mercado de afilia&ccedil;&atilde;o.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="200">
                        <i class="fas fa-briefcase fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="1500" data-refresh-interval="10" data-speed="2500"></span></div>
                        <p>Anunciantes cadastrados.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="600">
                        <i class="fas fa-globe-americas fa-2x"></i>
                        <div class="counter counter-lined"><span data-from="0" data-to="60" data-refresh-interval="10" data-speed="2500"></span>&#37;</div>
                        <p>Do mercado de afilia&ccedil;&atilde;o dos EUA.</p>
                    </div>
                </div>
            </div>
		</section>
		<!--CJ End-->

		<!-- Nossos Clientes / Agências -->
		<section class="content mainSection clients">
			<div class='contentWrapper'>
				<h2>Clientes</h2>
				<h3>Confian&ccedil;a de grandes marcas&#33;</h3>
				<h4>Anunciantes</h4>
				<ul class="clients-grid">
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__americanas.png')}}" alt="americanas"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__booking.png')}}" alt="booking"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__bradesco.png')}}" alt="bradesco"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__casas_bahia.png')}}" alt="casas_bahia"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__catho.png')}}" alt="catho"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__claro.png')}}" alt="claro"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__decolar.png')}}" alt="decolar"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__estacio.png')}}" alt="estacio"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__extra.png')}}" alt="extra"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__latam.png')}}" alt="latam"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__nespresso.png')}}" alt="nespresso"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__netshoes.png')}}" alt="netshoes"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__polishop.png')}}" alt="polishop"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__ponto_frio.png')}}" alt="ponto_frio"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__shoptime.png')}}" alt="shoptime"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__smiles.png')}}" alt="smiles"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__submarino.png')}}" alt="submarino"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__viajanet.png')}}" alt="viajanet"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__vivo.png')}}" alt="vivo"></li>
					<li><img src="{{url_for('static',filename='images/anunciantes/logo__wine.png')}}" alt="wine"></li>
				</ul>
				<h4>Ag&ecirc;ncias</h4>
				<ul class="clients-grid">
					<li><img src="{{url_for('static',filename='images/agencias/logo__cadastra.png')}}" alt="cadastra"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__fcb.png')}}" alt="fcb"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__iprospect.png')}}" alt="iprospect"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__jussi.png')}}" alt="jussi"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__newblue.png')}}"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__publicis_groupe.png')}}" alt="publicis_groupe"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__tribal.png')}}"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__vitrio.png')}}" alt="vitrio"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__vml.png')}}" alt="vml"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__wunderman.png')}}" alt="wunderman"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo__y&r.png')}}" alt="y&r"></li>
					<li><img src="{{url_for('static',filename='images/agencias/logo_leo_burnett.png')}}" alt="leo_burnett"></li>
					<li><img src="{{url_for('static',filename='images/agencias/id.jpg')}}" alt="logo id"></li>
					<li><img src="{{url_for('static',filename='images/agencias/artplan.jpg')}}" alt="logo artplan"></li>
					<li><img src="{{url_for('static',filename='images/agencias/one.jpg')}}" alt="logo one"></li>
				</ul>
			</div>
		</section>
		<!-- Nossos Clientes / Agências End-->

		<!-- Footer -->
		{% include 'footer.html' %}
		
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

{% endblock %}