<!DOCTYPE html>
<html dir="ltr" lang="pt-br">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FGSQH7');</script>
    <!-- End Google Tag Manager -->

    <title>Conhe&ccedil;a o melhor programa de afiliados | Afilio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Afilio &eacute; l&iacute;der no mercado de performance no Brasil. Oferece a seus clientes, ag&ecirc;ncias e anunciantes, os melhores resultados na web e mobile." />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />    
    <link rel="stylesheet" href="css/animate.css" type="text/css" />    
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />

    <!-- ICONS -->
    <link rel="icon" href="images/icons/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>

<body class="stretched">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FGSQH7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- Document Wrapper -->
	<div id="wrapper" class="clearfix">
		<!-- Top Bar -->
		<div id="top-bar" >
			<div class="container-fullwidth clearfix">
				<div class="col_half fright col_last nobottommargin">
					<!-- Top Links -->
					<div class="top-links">
						<ul>
							<li><a href='#' data-select='lang-menu'>Selecione o idioma</a>
								<ul id="langMenu">
									<li><a href="sobre-afilio.html">Portugu&ecirc;s</a></li>
									<li><a href="en/about-afilio.html">Ingl&ecirc;s</a></li>
									<li><a href="es/sobre-afilio.html">Espanhol</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contato.html">Contato</a></li>
							<li>
								<a href="#" id="top-cart-trigger">Entrar</a>
								<div id="top-cart">
                                    <div class="top-cart-content">
                                        <form method="post" action="https://v2.afilio.com.br/index.php" id="login-form" name="loginForm">
                                            <input type="text" name="auth_login" placeholder="Usu&aacute;rio" required>
                                            <input type="password" id="auth_pass" name="auth_pass" placeholder="Senha" required>
                                            <select name="auth_type" required>
                                                <option value='' disabled selected>Tipo</option>
                                                <option value="aff">Afiliado</option>
                                                <option value="mer">Anunciante</option>
                                            </select>
                                            <input name='rememberme' type="checkbox" id="remember-me" checked><label for='remember-me'>Lembrar senha</label>
                                            <div>
                                                <input type="submit" value="Enviar" class="btn btn-danger btn-block">
                                                <input type="hidden" value="ok" name="Ok">
                                                <input type="hidden" value="afilio" name="from">
                                                <input type="hidden" value="https://www.afilio.com.br/login-incorreto/index.html" name="url_error">
                                                <input type="hidden" value="3" name="id_regie">
                                            </div>
                                        </form>
                                        <a href="https://v2.afilio.com.br/password.php" target='_blank'>Esqueceu a senha&#63;</a>
                                        <a href="cadastro-afiliado.html">Novo cadastro</a>
                                    </div>
								</div>
								<!-- top-cart end -->
							</li>
						</ul>
					</div>
					<!-- top-links end -->
				</div>
			</div>
		</div>
		<!-- top-bar end -->

		<!-- Header -->
		<header id="header" class="header transparent-header page-section dark">
			<div id="header-wrap">
				<div class="container-fullwidth clearfix">
					<div id="primary-menu-trigger"><i class="fa fas fa-bars"></i></div>
					<!-- Logo -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-afilio.png"><img src="images/logo-afilio.png" alt="Logo Afilio"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-afilio.png"><img src="images/logo-afilio.png" alt="Logo Afilio"></a>
					</div>
					<!-- logo end -->

					<!-- Primary Navigation -->
					<nav id="primary-menu">
						<ul>
							<li><a href="index.html">In&iacute;cio</a></li>
							<li><a href="afiliados.html">Afiliados</a></li>
							<li><a href="anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a></li>
							<li><a href="poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a></li>
							<li>
								<a href='#' data-select='about-menu' class='marcador'>Sobre Afilio</a>
								<ul>
									<li><a href="sobre-afilio.html#nossahistoria">Nossa hist&oacute;ria</a></li>
									<li><a href="sobre-afilio.html#lideres">Nossos l&iacute;deres</a></li>
									<li><a href="sobre-afilio.html#cj">CJ | Commission Junction</a></li>
									<li><a href="sobre-afilio.html#instituto">Instituto Afilio</a></li>
									<li><a href="carreiras.html">Carreiras</a></li>
									<li><a href="cases.html">Cases</a></li>
								</ul>
							</li>
							<li><a href="noticias/index.html">Not&iacute;cias</a></li>
						</ul>
					</nav>
					<!-- primary-menu end -->
				</div>
			</div>
		</header>
		<!-- header end -->

		<section id="slider" class="slider-parallax full-screen dark error404-wrap sobreSlider">
			<div class="slider-parallax-inner">
				<div class="container vertical-middle center clearfix">
					<div class="col-md-6">
						<div class="fslider testimonial-full" data-animation="fade" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<h1 class="transic-texto-home sliderTitle">Performance mobile.</h1>
											<span>Solu&ccedil;&otilde;es mobile para aumentar a sua performance.</span>
										</div>
									</div>
									<div class="slide slide-leftColumn" data-thumb-alt="">
										<div class="anima-right-animate-opacity">
											<p class="transic-texto-home sliderTitle">Torne-se um afiliado.</p>
											<span>Contamos com os maiores varejistas do pa&iacute;s em nossa rede, al&eacute;m de diversos anunciantes presentes em toda a Am&eacute;rica Latina.</span>
											<a href="cadastro-afiliado.html" class="button button-circle">Cadastre-se</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<video poster="images/sobre-afilio.jpg" preload="auto" loop autoplay muted>
						<source src='images/videos/To-The-Left.mp4' type='video/mp4' />
						<source src='images/videos/To-The-Left.webm' type='video/webm' />
					</video>
					<div class="video-overlay"></div>
				</div>
			</div>
		</section>

		<section class='content mainSection historySection' id='nossahistoria'>
			<div class="sectionImg">
				<img src="images/afilioConnection-home.jpg" alt="Sobre a Afilio">
			</div>
			<div class="contentWrapper">
				<h2>Nossa hist&oacute;ria</h2>
				<h3>Focados em marketing de performance, desde sua cria&ccedil;&atilde;o em 2008.</h3>
				<p>Com mais de 10 anos no mercado de afilia&ccedil;&atilde;o, fomos a empresa pioneira neste segmento no Brasil. Nossa equipe dedica-se a oferecer para ag&ecirc;ncias e anunciantes, estrat&eacute;gias e solu&ccedil;&otilde;es inovadoras para gerar grandes resultados na web, seja em leads, vendas ou branding. Com escrit&oacute;rios no Rio de Janeiro e em S&atilde;o Paulo, atuamos no mercado nacional e internacional.</p>
			</div>
		</section>

		<section class='content mainSection leadersSection' id='lideres'>
			<div class="contentWrapper">
				<h2>Nossos l&iacute;deres</h2>
				<ul class='leaderList'>
					<li>
						<div class="image">
							<img srcset="images/team/fernanda.jpg" alt="Fernanda Hermanny - Diretora de Opera&ccedil;&otilde;es">
						</div>
						<div class="blurb">
							<p>Fernanda Hermanny</p>
							<span>Diretora de Opera&ccedil;&otilde;es</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/felipe.jpg" alt="Felipe Oliveira - Diretor de Tecnologia">
						</div>
						<div class="blurb">
							<p>Felipe Oliveira</p>
							<span>Diretor de Tecnologia</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/luciana.jpg" alt="Luciana Landim - Diretora Financeira">
						</div>
						<div class="blurb">
							<p>Luciana Landim</p>
							<span>Diretora Financeira</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/rafael.jpg" alt="Rafael Stefano - Gerente Comercial">
						</div>
						<div class="blurb">
							<p>Rafael Stefano</p>
							<span>Gerente Comercial</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/bruno.jpg" alt="Bruno Motta - Gerente de Redes">
						</div>
						<div class="blurb">
							<p>Bruno Motta</p>
							<span>Gerente de Redes</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/jeferson.jpg" alt="Jeferson Silva - Gerente de Tecnologia">
						</div>
						<div class="blurb">
							<p>Jeferson Silva</p>
							<span>Gerente de Tecnologia</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/amanda.jpg" alt="Amanda Emmerick - Coordenadora Operacional de SP">
						</div>
						<div class="blurb">
							<p>Amanda Emmerick</p>
							<span>Coordenadora Operacional - SP</span>
						</div>
					</li>
					<li>
						<div class="image">
							<img srcset="images/team/gabriel.jpg" alt="Gabriel Antoun - Coordenador Operacional do RJ">
						</div>
						<div class="blurb">
							<p>Gabriel Antoun</p>
							<span>Coordenador Operacional - RJ</span>
						</div>
					</li>
				</ul>
			</div>
		</section>
        <div class="clear"></div>
        <!-- Nossos L&iacute;deres End-->

		<!--CJ -->
		<section class='content mainSection parceira' id='cj'>
            <div class='contentWrapper'>
                <img src="images/logo-cj.svg" alt="CJ Affiliate Logo" />
                <h2>Afilio &amp; CJ | Commission Juction</h2>
                <h3>Mais oportunidades internacionais.</h3>
                <p>A Afilio &eacute; o bra&ccedil;o exclusivo no Brasil e Am&eacute;rica Latina da maior rede de afilia&ccedil;&atilde;o global.</p>
                <div class='topics'>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="300">
                        <i class="fas fa-building fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="20" data-refresh-interval="10" data-speed="2500"></span> anos</div>
                        <p>No mercado de afilia&ccedil;&atilde;o.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="200">
                        <i class="fas fa-briefcase fa-2x"></i>
                        <div class="counter counter-lined">&#43;<span data-from="0" data-to="1500" data-refresh-interval="10" data-speed="2500"></span></div>
                        <p>Anunciantes cadastrados.</p>
                    </div>
                    <div class="col-md-4 center bounceIn animated" data-animate="bounceIn" data-delay="600">
                        <i class="fas fa-globe-americas fa-2x"></i>
                        <div class="counter counter-lined"><span data-from="0" data-to="60" data-refresh-interval="10" data-speed="2500"></span>&#37;</div>
                        <p>Do mercado de afilia&ccedil;&atilde;o dos EUA.</p>
                    </div>
                </div>
            </div>
		</section>
		<!--CJ End-->

		<!-- Depoimentos -->
		<section class='content mainSection cjTestimonials'>
			<div class="contentWrapper">
				<h2>Depoimentos</h2>
				<h3>O que diz a CJ.</h3>
				<p>Nossa parceria fortalece.</p>
				<div class="testimonialSliderWrapper">
					<ul id="testimonialSlider">
						<li class='activeTestimonialSlide'>
							<h5>Bindi Singh</h5>
							<span>Diretor Global de Editores e Parceiros</span>
							<p>Nossa parceria com a Afilio permite que nossos anunciantes aproveitem sua vasta base de editores para expandir e crescer no mercado Latam. Os membros da equipe da Afilio s&atilde;o conhecedores e nos permitiram entender melhor o cliente da Latam e atend&ecirc;-los de forma mais eficaz. Temos visto um tremendo crescimento na regi&atilde;o. A receita da CJ na Am&eacute;rica Latina cresceu mais de 2 vezes este ano&#33;</p>
						</li>
						<li>
							<h5>Timothy Bruderek</h5>
							<span>Gerente Global de Contas</span>
							<p>Essa parceria estrat&eacute;gica permitiu que a CJ e a Afilio expandissem a ind&uacute;stria de marketing de afiliados nos mercados do Brasil e da Am&eacute;rica Latina. A CJ trabalha diligentemente ao lado da Afilio para fornecer aos editores as ferramentas necess&aacute;rias para aumentar as vendas, obter acesso &agrave;s melhores ofertas e incentivos e fornecer aos clientes uma ampla variedade de anunciantes diferentes.</p>
						</li>
                    </ul>
                </div>
                <div class="testimonialSlideControl">
                    <div class="testimonialController prev"><i class="fa fa-angle-left"></i></div>
                    <div class="testimonialController next"><i class="fa fa-angle-right"></i></div>
                </div>
			</div>
		</section>
		<!-- Depoimentos End-->

		<!-- Instituto Afilio -->
		<section class='content mainSection institutoAfilio' id='instituto'>
			<div class="contentWrapper">
				<h2>Instituto Afilio</h2>
				<h3>Pequenas atitudes, grandes mudan&ccedil;as&#33;</h3>
				<p>Buscamos o crescimento educacional e pessoal dos colaboradores e da comunidade em que estamos inseridos. Conhe&ccedil;a nossas iniciativas:</p>
				<ul class='listaIniciativas'>
					<li>
						<img src="images/logo-bullying-do-bem.jpg" alt='Logo Bullying do bem'>
                        <h5>Bullying do bem</h5>
                        <p>A Afilio e a Bullying do Bem promoveram a&ccedil;&otilde;es de limpeza nas praias do RJ. Pequenas a&ccedil;&otilde;es hoje, fazem grandes diferen&ccedil;as amanh&atilde;.</p>
					</li>
					<li>
						<img src="images/agasalho-campanha.jpg" alt='Campanha do agasalho da Afilio'>
						<h5>Campanha do Agasalho Afilio</h5>
						<p>Campanha interna de doa&ccedil;&atilde;o de agasalho. As doa&ccedil;&otilde;es s&atilde;o enviadas para Cruz Vermelha ou Prefeitura.</p>
					</li>
					<li>
						<img src="images/afilio-run.jpg" alt='Afilio Run'>
						<h5>Afilio Run</h5>
						<p>Como incentivo a qualidade de vida, colaboradores participam de maratonas no RJ e SP patrocinados pela Afilio.</p>
					</li>
				</ul>
			</div>
		</section>
		<!-- Fim Instituto Afilio -->

		<footer id="footer" class="footer dark">
			<div class="offices">
				<div class="office">
					<img src="images/rio-de-janeiro.jpg" alt="Rio de Janeiro">
					<div class='address'>
						<p>Rio de Janeiro</p>
						<a href="tel:+55-21-2244-8888">+55 21 2244 8888</a>
						<a href="https://goo.gl/maps/XYN4kcgvSJL2" target="_blank" rel="nofollow">R. Helios Seelinger, nº 155, 4º Andar - Barra da Tijuca<br>RJ - CEP: 22640-040</a>
					</div>
				</div>
				<div class="office">
					<img src="images/sao-paulo.jpg" alt="S&atilde;o Paulo">
					<div class='address'>
						<p>S&atilde;o Paulo</p>
						<a href="tel:+55-11-3294-7958">+55 11 3294 7958</a>
						<a href="https://goo.gl/maps/DEuSmbScmQ72" target="_blank" rel="nofollow">R. Uba&iacute;ra, nº 75 - Indian&oacute;polis<br>SP - CEP: 04517-140</a>
					</div>
				</div>
			</div>
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col-md-9">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="index.html">In&iacute;cio</a>
							<a href="afiliados.html">Afiliados</a>
							<a href="anunciantes-agencias.html">Anunciantes e Ag&ecirc;ncias</a>
							<a href="poder-da-afiliacao.html">O poder da afilia&ccedil;&atilde;o</a>
							<a href="sobre-afilio.html">Sobre Afilio</a>
							<a href="carreiras.html">Carreiras</a>
							<a href="contato.html">Contato</a>
							<a href="faq.html">FAQ</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Afilio.fcb" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/afiliobrasil/" target="_blank" class="social-icon si-small si-borderless si-instagram">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/afilio" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="center">Copyright &copy; 2019 Afilio S/A.</div>
				</div>
				<!-- #copyrights end -->
			</div>
		</footer>
		<!-- #footer end -->
	</div>
	<!-- wrapper end -->

	<!-- Go To Top -->
	<div id="gotoTop"><i class="fas fa-angle-up"></i></div>

	<!-- External JavaScripts -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<!-- Footer Scripts -->
	<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
